<app-container>
  <div class="sectionBoxes">
    <section *ngIf="permissions.administrador" class="sectionBox">
      <div class="boxHead">
        <p class="sectionTitle1">Representações ainda não avaliadas</p>
      </div>
      <section *ngIf="allRegistries.length > 0">
        <div *ngFor="let represent of allRegistries; let i = index">
          <div class="subSection">
            <span class="field">
              <p class="fieldTitle">Nome:</p>
              <p class="fieldContent">{{ represent.rep.personName }}</p>
            </span>
            <span class="field">
              <p class="fieldTitle">Telefone:</p>
              <p class="fieldContent">
                {{ represent.rep.phoneNumber }}
              </p>
            </span>
          </div>
          <div class="subSection">
            <span class="field">
              <p class="fieldTitle">Campo:</p>
              <p class="fieldContent">{{ represent.representedField }}</p>
            </span>
            <span class="field">
              <p class="fieldTitle">Função:</p>
              <p class="fieldContent">
                {{ represent.functionn }}
              </p>
            </span>
          </div>
          <label
            >Validade
            <input type="date" [ngModel]="represent.repActiveValidate"
          /></label>
          <form class="formSection">
            <label class="labelRadio">
              <input
                class="approvedRadio"
                [id]="'approveRepresent' + i"
                type="radio"
                name="status"
                checked
              />
              Aprovado
            </label>
            <label class="labelRadio">
              <input
                class="rejectedRadio"
                [id]="'rejectRepresent' + i"
                type="radio"
                name="status"
              />
              Desaprovado
            </label>

            <button
              class="saveButton"
              type="button"
              (click)="
                approveRepresentation(
                  'approveRepresent' + i,
                  'rejectRepresent' + i,
                  represent.representationID,
                  i
                )
              "
            >
              SALVAR
            </button>
          </form>

          <hr class="sectionDivisiion" />
        </div>
      </section>
    </section>
    <app-one-representation-to-approve></app-one-representation-to-approve>

    <div *ngIf="error" class="error">
      <div class="errorTitle">
        <p>Atenção</p>
      </div>
      <div class="errorMessage">
        <p>{{ errorMessage }}</p>
      </div>
      <img
        class="closeIcon"
        src="assets/icons/closeIcon.png"
        alt="Fechar"
        (click)="closeError()"
      />
    </div>
    <div *ngIf="done" class="done">
      <div class="doneTitle">
        <p>Parabéns</p>
      </div>
      <div class="doneMessage">
        <p>{{ doneMessage }}</p>
      </div>
      <img
        class="closeIcon"
        src="assets/icons/closeIcon.png"
        alt="Fechar"
        (click)="closeDone()"
      />
    </div>

    <div *ngIf="isLoading" class="loader1"></div>
    <div *ngIf="isLoading" class="loader2"></div>
  </div>
</app-container>
