<section *ngIf="permissions.secretaria || permissions.administrador" class="smallSectionBox" id="boxHeadAcademicDegres">
  <div class="boxHead">
    <span class="headField" (click)="showBox()">
      <img class="seeMoreIcon" id="seeMoreIconDegrees" src="assets/icons/seeMoreIcon.png" alt="">
      <p class="sectionTitle1">Graus acadêmicos</p>
    </span>

    <img class="addIcon hidden" id="degreeAddIcon" src="assets/icons/addIcon.png" alt="Criar novo grau acadêmico"
      (click)="createForm()">
  </div>
  <section class="boxMain">
    <form *ngIf="creatingDegree" class="formCreation">
      <label class="inputLabel">
        Novo grau acadêmico<input class="mediumInput" type="text" name="academicDegreeInput"
          [(ngModel)]="createAcademicDegreeData.degree_name">
      </label>

      <button class="saveButton" type="button" (click)="createAcademicDegree()">SALVAR</button>

    </form>
    <section class="registriesWrapper"><app-registry #registryApp [registryId]="i"
        (editRegistry)="editAcademicDegree($event.id, $event.saveButtonId)"
        (deleteRegistry)="deleteAcademicDecree($event)" *ngFor="let registry of allDegrees; index as i;">
        <span class="field">
          <p class="fieldTitle">Grau acadêmico:</p>
          <input class="fieldContent" [id]="'academicDegreeInput'+i" name=`academicDegreeInput${i}`
            [(ngModel)]="allDegrees[i].degree_name" (ngModelChange)="registryApp.fieldChanged=true">
        </span>
      </app-registry></section>
  </section>
</section>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{errorMessage}}</p>
  </div>
  <img class="closeIcon" src="assets/icons/closeIcon.png" alt="Fechar" (click)="closeError()">
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{doneMessage}}</p>
  </div>
  <img class="closeIcon" src="assets/icons/closeIcon.png" alt="Fechar" (click)="closeDone()">
</div>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>