<section
  #sectionBox
  [ngClass]="{ smallSectionBox: !showBox, sectionBox: showBox }"
>
  <div class="boxHead">
    <span class="headField" (click)="showBox = !showBox">
      <img
        #expandIcon
        class="seeMoreIcon"
        [ngClass]="{ rotatedClock: showBox }"
        id="seeMoreIconFormations"
        src="assets/icons/seeMoreIcon.png"
        alt="Expandir"
      />
      <p class="sectionTitle1">{{ title }}</p>
    </span>

    <img
      #addIcon
      class="addIcon"
      [ngClass]="{ hidden: !showBox }"
      src="assets/icons/addIcon.png"
      alt="Criar {{ title }}"
      (click)="showForm = true"
    />
  </div>
  <section class="formCreationWrapper" *ngIf="showForm">
    <app-creation-form (save)="createRegistry()">
      <div class="subSection">
        <label class="inputLabel">
          Nome<input
            class="mediumInput"
            type="text"
            name="nominataYearInput"
            [(ngModel)]="createRegistryData.name"
          />
        </label>
        <label class="inputLabel">
          cpf<input
            class="mediumInput"
            type="cpf"
            name="nominataInviteBeginInput"
            [(ngModel)]="createRegistryData.cpf"
            (input)="formatarCPF()"
          />
        </label>
      </div>
      <div class="subSection">
        <label class="inputLabel">
          Titulação<input
            type="text"
            class="mediumInput"
            name="nominataDirectorWords"
            [(ngModel)]="createRegistryData.assignments"
          />
        </label>
      </div>
    </app-creation-form>
  </section>
  <section class="registriesWrapper">
    <app-update-form
      [registryId]="i"
      (editRegistry)="editRegistry(i, $event.saveButtonId)"
      (deleteRegistry)="deleteRegistry(registry.professor_id)"
      *ngFor="let registry of allRegistries; index as i"
    >
      <div class="subSection">
        <label class="inputLabel">
          Nome<input
            class="mediumInput"
            type="text"
            name="nominataYearInput"
            [(ngModel)]="registry.name"
          />
        </label>
        <label class="inputLabel">
          CPF<input
            class="mediumInput"
            type="text"
            name="professor"
            [(ngModel)]="registry.cpf"
            (input)="formatarCPF()"
          />
        </label>
      </div>
      <label class="inputLabel">
        Titulação<input
          type="text"
          class="mediumInput"
          name="professorAssignment"
          [(ngModel)]="registry.assignments"
        />
      </label>
    </app-update-form>
  </section>
</section>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeError()"
  />
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{ doneMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeDone()"
  />
</div>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>
