.loginMenu {
  border-radius: 10px;
  position: absolute;
  right: max(1rem, (100% - 1024px)/2);
  top: 70px;
  padding: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  gap: 0.5rem;
}

.loginMenuButton {
  padding: 0.5rem 1rem;
}
