<app-container>
  <div class="sectionBoxes">
    <app-students
      [userId]="userId"
      [del]="false"
      [approve]="true"
    ></app-students>
    <app-related-ministries
      [userId]="userId"
      [del]="false"
      [new]="false"
      [approve]="true"
    ></app-related-ministries>
    <app-student-academic-formations
      [userId]="userId"
      [del]="false"
      [new]="false"
      [approve]="true"
    ></app-student-academic-formations>

    <app-st-courses
      [userId]="userId"
      [del]="false"
      [new]="false"
      [approve]="true"
    >
    </app-st-courses>
    <app-languages
      [userId]="userId"
      [del]="false"
      [new]="false"
      [approve]="true"
    ></app-languages>

    <app-professional-experiences
      [userId]="userId"
      [del]="false"
      [new]="false"
      [approve]="true"
    ></app-professional-experiences>

    <app-past-ecl-exps
      [userId]="userId"
      [del]="false"
      [new]="false"
      [approve]="true"
    >
    </app-past-ecl-exps>

    <app-ecl-experiences
      [userId]="userId"
      [approve]="true"
    ></app-ecl-experiences>

    <app-endowments
      [userId]="userId"
      [del]="false"
      [new]="false"
      [approve]="true"
    ></app-endowments>

    <app-ordinations
      [userId]="userId"
      [del]="false"
      [new]="false"
      [approve]="true"
    ></app-ordinations>

    <app-evg-experiences
      [userId]="userId"
      [del]="false"
      [new]="false"
      [approve]="true"
    ></app-evg-experiences>
    <app-publications
      [userId]="userId"
      [del]="false"
      [new]="false"
      [approve]="true"
    ></app-publications>

    <!-- ------------------------------------------------------------------ -->
    <div
      *ngIf="
        dataService.maritalStatusName === 'Casado' ||
        dataService.maritalStatusName === 'Noivo'
      "
    >
      <app-spouses
        [userId]="userId"
        [del]="false"
        [approve]="true"
      ></app-spouses>
      <app-sp-related-ministries
        [userId]="userId"
        [del]="false"
        [new]="false"
        [approve]="true"
      >
      </app-sp-related-ministries>

      <app-sp-academic-formations
        [userId]="userId"
        [del]="false"
        [new]="false"
        [approve]="true"
      ></app-sp-academic-formations>
      <app-ps-courses
        [userId]="userId"
        [del]="false"
        [new]="false"
        [approve]="true"
      ></app-ps-courses>
      <app-sp-languages
        [userId]="userId"
        [del]="false"
        [new]="false"
        [approve]="true"
      ></app-sp-languages>
      <app-sp-professional-experiences
        [userId]="userId"
        [del]="false"
        [new]="false"
        [approve]="true"
      ></app-sp-professional-experiences>
      <app-sp-past-ecl-exp
        [userId]="userId"
        [del]="false"
        [new]="false"
        [approve]="true"
      ></app-sp-past-ecl-exp>
      <app-sp-endowments
        [userId]="userId"
        [del]="false"
        [new]="false"
        [approve]="true"
      ></app-sp-endowments>
      <app-sp-evg-experiences
        [userId]="userId"
        [del]="false"
        [new]="false"
        [approve]="true"
      ></app-sp-evg-experiences>
      <app-sp-publications
        [userId]="userId"
        [del]="false"
        [new]="false"
        [approve]="true"
      ></app-sp-publications>
    </div>
    <app-children
      [userId]="userId"
      [del]="false"
      [new]="false"
      [approve]="true"
    ></app-children>

    <div
      *ngIf="
        dataService.maritalStatusName === 'Divorciado' ||
        dataService.maritalStatusName === 'Viúvo'
      "
    >
      <app-previous-marriage
        [userId]="userId"
        [del]="false"
        [new]="false"
        [approve]="true"
      ></app-previous-marriage>
    </div>
  </div>

  <app-error-modal *ngIf="error"></app-error-modal>
  <div *ngIf="done" class="done">
    <div class="doneTitle">
      <p>Parabéns</p>
    </div>
    <div class="doneMessage">
      <p>{{ doneMessage }}</p>
    </div>
    <img
      class="closeIcon"
      src="assets/icons/closeIcon.png"
      alt="Fechar"
      (click)="closeDone()"
    />
  </div>

  <div *ngIf="isLoading" class="loader1"></div>
  <div *ngIf="isLoading" class="loader2"></div>
  <div class="sectionBox">
    <button (click)="saveAll()">SALVAR TUDO</button>
  </div>
</app-container>
