<section
  class="sectionBox"
  [ngClass]="{
    approved: student.student?.student_approved === true,
    unapproved: student.student?.student_approved === false,
    notRated: student.student?.student_approved === null
  }"
>
  <div class="boxHead">
    <p class="sectionTitle1">Perfil do fomando</p>
  </div>
  <section *ngIf="student.student != null && student.student.student_id">
    <div>
      <div class="subSection">
        <span class="field">
          <p class="fieldTitle">Campo de origem</p>
          <p class="fieldContent">
            {{ student.student.union_acronym }}/{{
              student.student.association_acronym
            }}
          </p>
        </span>
        <span class="field">
          <p class="fieldTitle">Estado civil</p>
          <p class="fieldContent">
            {{ student.student.marital_status_type_name }}
          </p>
        </span>
        <span class="field">
          <p class="fieldTitle">Data de nascimento</p>
          <p class="fieldContent">
            {{ student.student.birth_date }}
          </p>
        </span>
        <span class="field">
          <p class="fieldTitle">Naturalidade</p>
          <p class="fieldContent">
            {{ student.student.birth_city }}-{{ student.student.birth_state }}
          </p>
        </span>
      </div>
      <hr class="sectionDivisiion" />
      <div class="subSection">
        <span class="field">
          <p class="fieldTitle">Batismo</p>
          <p class="fieldContent">{{ student.student.baptism_date }}</p>
          <p class="fieldContent">{{ student.student.baptism_place }}</p>
        </span>
        <span class="field">
          <p class="fieldTitle">Tempo de batismo</p>
          <p class="fieldContent">{{ student.student.baptism_date }}</p>
        </span>
        <span class="field">
          <p class="fieldTitle">Telefone</p>
          <p class="fieldContent">{{ student.student.phone_number }}</p>
        </span>
        <span class="field">
          <p class="fieldTitle">E-mail</p>
          <p class="fieldContent">{{ student.student.alternative_email }}</p>
        </span>
      </div>
      <hr class="sectionDivisiion" />
      <div
        *ngIf="
          student.relatedMinistries != undefined &&
          student.relatedMinistries.length > 0
        "
        class="subSection"
      >
        <!-- <span class="field">
          <p class="fieldTitle">Ministério com os quais se identifica</p>
          <div class="flexBetween">
            <span
              *ngFor="let ministry of student.relatedMinistries"
              class="fieldContent"
              >{{ ministry.ministry_type_name }}</span
            >
          </div>
        </span> -->
      </div>
      <div class="subSection">
        <span class="field">
          <p class="fieldTitle">Mensagem do Formando</p>
          <p class="fieldContent">{{ student.student.student_mensage }}</p>
        </span>
      </div>
      <div class="subSection">
        <div class="alonePhoto">
          <div
            class="imageContainer"
            [ngStyle]="{ 'background-image': 'url(' + alonePhoto + ')' }"
          ></div>
        </div>
      </div>

      <form class="formSection">
        <label class="labelRadio">
          <input
            class="approvedRadio"
            [checked]="student.student.student_approved"
            #approveStudent1
            type="radio"
            name="status"
          />
          Aprovado
        </label>
        <label class="labelRadio">
          <input
            class="rejectedRadio"
            [checked]="!student.student.student_approved"
            #rejectStudent1
            [id]="'rejectStudent'"
            type="radio"
            name="status"
          />
          Desaprovado
        </label>

        <button
          class="saveButton"
          type="button"
          (click)="
            approve(
              'students',
              approveStudent1,
              rejectStudent1,
              student.student.student_id
            )
          "
        >
          SALVAR
        </button>
      </form>
    </div>
  </section>
</section>
<section class="sectionBox">
  <div class="boxHead">
    <p class="sectionTitle1">Conheça {{ student.student?.person_name }}</p>
  </div>
  <section
    *ngIf="
      student.academicFormations != null &&
      student.academicFormations.length > 0
    "
  >
    <div *ngIf="student.academicFormations != null">
      <p class="fieldTitle">Formações acadêmicas</p>
      <div
        class="subSection"
        *ngFor="let formation of student.academicFormations; let i = index"
        class="field"
        [ngClass]="{
          approved: formation.academic_formation_approved === true,
          unapproved: formation.academic_formation_approved === false,
          notRated: formation.academic_formation_approved === null
        }"
      >
        <div>
          <p class="fieldContent">
            {{ formation.begin_date }} a {{ formation.conclusion_date }}
          </p>
          <p class="fieldContent">
            {{ formation.degree_name }} em {{ formation.course_area }},
            {{ formation.institution }}
          </p>
          <form class="formSection">
            <label class="labelRadio">
              <input
                class="approvedRadio"
                #approveItem
                [checked]="formation.academic_formation_approved"
                [id]="'approveFormation' + i"
                type="radio"
                name="status"
                checked
              />
              Aprovado
            </label>
            <label class="labelRadio">
              <input
                #rejectItem
                class="rejectedRadio"
                #rejectFormation{{i}}
                [checked]="!formation.academic_formation_approved"
                [id]="'rejectFormation' + i"
                type="radio"
                name="status"
              />
              Desaprovado
            </label>

            <button
              class="saveButton"
              type="button"
              (click)="
                approve(
                  'academic_formations',
                  approveItem,
                  rejectItem,
                  formation.formation_id
                )
              "
            >
              SALVAR
            </button>
          </form>
        </div>
      </div>

      <hr class="sectionDivisiion" />
    </div>
    <div *ngIf="student.courses != null">
      <p class="fieldTitle">Cursos e capacitações</p>
      <div
        class="subSection"
        *ngFor="let course of student.courses"
        class="field"
        [ngClass]="{
          approved: course.course_approved === true,
          unapproved: course.course_approved === false,
          notRated: course.course_approved === null
        }"
      >
        <div>
          <p class="fieldContent">
            {{ course.institution }} ({{ course.conclusion_date }})
          </p>
          <p class="fieldContent">
            {{ course.course_area }}
          </p>
          <form class="formSection">
            <label class="labelRadio">
              <input
                class="approvedRadio"
                #approveItem
                [checked]="course.course_approved"
                [id]="'approveFormation'"
                type="radio"
                name="status"
                checked
              />
              Aprovado
            </label>
            <label class="labelRadio">
              <input
                #rejectItem
                class="rejectedRadio"
                #rejectFormation{{i}}
                [checked]="!course.course_approved"
                [id]="'rejectFormation'"
                type="radio"
                name="status"
              />
              Desaprovado
            </label>

            <button
              class="saveButton"
              type="button"
              (click)="
                approve('courses', approveItem, rejectItem, course.course_id)
              "
            >
              SALVAR
            </button>
          </form>
        </div>
      </div>

      <hr class="sectionDivisiion" />
    </div>
    <div *ngIf="student.languages != null">
      <p class="fieldTitle">Idiomas</p>
      <div
        class="subSection"
        *ngFor="let language of student.languages"
        class="field"
        [ngClass]="{
          approved: language.language_approved === true,
          unapproved: language.language_approved === false,
          notRated: language.language_approved === null
        }"
      >
        <div>
          <p class="fieldContent wWeight">
            {{ language.language }}
          </p>
          <p *ngIf="language.fluent" class="fieldContent">Fluente</p>
          <p *ngIf="!language.fluent && language.read" class="fieldContent">
            Lê bem
          </p>
          <p *ngIf="!language.fluent && language.write" class="fieldContent">
            Escreve bem
          </p>
          <p *ngIf="!language.fluent && language.speak" class="fieldContent">
            Fala bem
          </p>
          <p
            *ngIf="!language.fluent && language.understand"
            class="fieldContent"
          >
            Entende
          </p>

          <form class="formSection">
            <label class="labelRadio">
              <input
                class="approvedRadio"
                #approveItem
                [checked]="language.language_approved"
                [id]="'approveFormation'"
                type="radio"
                name="status"
                checked
              />
              Aprovado
            </label>
            <label class="labelRadio">
              <input
                #rejectItem
                class="rejectedRadio"
                #rejectFormation{{i}}
                [checked]="!language.language_approved"
                [id]="'rejectFormation'"
                type="radio"
                name="status"
              />
              Desaprovado
            </label>

            <button
              class="saveButton"
              type="button"
              (click)="
                approve(
                  'languages',
                  approveItem,
                  rejectItem,
                  language.language_id
                )
              "
            >
              SALVAR
            </button>
          </form>
        </div>
      </div>

      <hr class="sectionDivisiion" />
    </div>
  </section>
</section>
<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeError()"
  />
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{ doneMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeDone()"
  />
</div>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>
