<app-container>
  <app-sidebar>

  </app-sidebar>
  <app-main-content [menuOptions]="menuOptions" (newOptions)="getNewOptions($event)">
    <div >

      <div *ngIf="menuOptions[0].active" >
        <app-addresses [addresses]="addresses"></app-addresses>
      </div>

      <div *ngIf="menuOptions[1].active" >
        <app-people [addresses]="addresses" [people]="people"></app-people>
      </div>

      <div *ngIf="menuOptions[2].active">
        <app-users [methodIdx]="methodIdx"></app-users>
      </div>

      <div *ngIf="menuOptions[3].active">
        <app-roles [methodIdx]="methodIdx"></app-roles>
        
      </div>
      

      <div *ngIf="menuOptions[4].active">
        <app-itens-category [methodIdx]="methodIdx"></app-itens-category>
      </div>

      <div *ngIf="menuOptions[5].active">
        <app-itens-sub-category [methodIdx]="methodIdx"></app-itens-sub-category>
      </div>
      
    </div>
  </app-main-content>
</app-container>
