
  <div class="sidebar">
    <img class="logo" src="assets/img/solovidaLogo.png" alt="">
    <nav class="sidebarMenu">
      <div class="sidebarItem">
        <a href="#" class="sidebarText"> <img src="assets/icons/financeiroIcon.png" alt="ícone do módulo financeiro" class="sibebarIcons"> Financeiro</a>
      </div>
      <div class="sidebarItem">
        <a href="#" class="sidebarText"><img src="assets/icons/estoqueIcon.png" alt="ícone do módulo de controle de estoque" class="sibebarIcons">Estoque</a>
      </div>
      <div class="sidebarItem">
        <a href="#" class="sidebarText"><img src="assets/icons/timeIcon.png" alt="ícone do módulo de recursos humanos" class="sibebarIcons"> Time</a>
      </div>
      <div class="sidebarItem">
        <a href="#" class="sidebarText"><img src="assets/icons/campoIcon.png" alt="ícone do módulo de campo" class="sibebarIcons">Campo</a>
      </div>
      <div class="sidebarItem">
        <a href="#" class="sidebarText"><img src="assets/icons/safrasIcon.png" alt="ícone do módulo de safras" class="sibebarIcons">Safras</a>
      </div>
      <div class="sidebarItem">
        <a href="#" class="sidebarText"><img src="assets/icons/relatorioIcon.png" alt="ícone do módulo de relatórios" class="sibebarIcons">Relatórios</a>
      </div>
      <div class="sidebarItem">
        <a href="/resources" class="sidebarText"><img src="assets/icons/recursosIcon.png" alt="ícone do módulo de recursos" class="sibebarIcons">Recursos</a>
      </div>
    </nav>
    <ng-content></ng-content>

  </div>

