<app-container>
  <div class="sectionBoxes">
    <app-marital-status
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
    ></app-marital-status>
    <app-unions
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
    ></app-unions>
    <app-associations
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
    ></app-associations>
    <app-hiring-status
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
    ></app-hiring-status>
    <app-academic-degrees
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
    ></app-academic-degrees>
    <app-language-types
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
    ></app-language-types>
    <app-evang-exp-types
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
    ></app-evang-exp-types>
    <app-ecl-exp-types
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
    ></app-ecl-exp-types>
    <app-ministry-types
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
    ></app-ministry-types>
    <app-endowment-types
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
    ></app-endowment-types>

    <app-publication-types
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
    ></app-publication-types>

    <app-student-photos
      *ngIf="
        permissions.secretaria ||
        permissions.administrador ||
        permissions.design ||
        permissions.direcao
      "
      [permissions]="permissions"
    ></app-student-photos>

    <app-nominatas
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
    ></app-nominatas>
    <app-other-invites-times
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
      [shortNominatas]="shortNominatas"
      [allAssociations]="allAssociations"
    >
    </app-other-invites-times>

    <app-nominatas-students
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
    >
    </app-nominatas-students>

    <app-general-professors
      *ngIf="
        permissions.secretaria ||
        permissions.administrador ||
        permissions.direcao
      "
      [permissions]="permissions"
    >
    </app-general-professors>

    <app-professor-photos
      *ngIf="
        permissions.secretaria ||
        permissions.design ||
        permissions.administrador ||
        permissions.direcao
      "
      [permissions]="permissions"
    >
    </app-professor-photos>

    <app-nominatas-professors
      *ngIf="
        permissions.secretaria ||
        permissions.administrador ||
        permissions.direcao
      "
      [permissions]="permissions"
    >
    </app-nominatas-professors>

    <app-nominatas-photos
      *ngIf="
        permissions.administrador || permissions.direcao || permissions.design
      "
      [permissions]="permissions"
    >
    </app-nominatas-photos>

    <app-events
      *ngIf="
        permissions.secretaria ||
        permissions.design ||
        permissions.administrador ||
        permissions.direcao
      "
      [permissions]="permissions"
    >
    </app-events>

    <app-unactive
      *ngIf="
        permissions.secretaria ||
        permissions.design ||
        permissions.administrador ||
        permissions.direcao
      "
      [permissions]="permissions"
    >
    </app-unactive>
  </div>
</app-container>
