<app-container>
  <div class="sectionBoxes">
    <ng-container *ngIf="permissions.administrador || permissions.direcao">
      <app-marital-status [permissions]="permissions"></app-marital-status>
      <app-unions [permissions]="permissions"></app-unions>
      <app-associations [permissions]="permissions"></app-associations>
      <app-hiring-status [permissions]="permissions"></app-hiring-status>
      <app-academic-degrees [permissions]="permissions"></app-academic-degrees>
      <app-language-types [permissions]="permissions"></app-language-types>
      <app-evang-exp-types [permissions]="permissions"></app-evang-exp-types>
      <app-ecl-exp-types [permissions]="permissions"></app-ecl-exp-types>
      <app-ministry-types [permissions]="permissions"></app-ministry-types>
      <app-endowment-types [permissions]="permissions"></app-endowment-types>
      <app-publication-types
        [permissions]="permissions"
      ></app-publication-types>
    </ng-container>

    <app-student-photos
      *ngIf="
        permissions.secretaria ||
        permissions.administrador ||
        permissions.design ||
        permissions.direcao
      "
      [permissions]="permissions"
    ></app-student-photos>

    <app-nominatas
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
    ></app-nominatas>
    <app-other-invites-times
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
      [shortNominatas]="shortNominatas"
      [allAssociations]="allAssociations"
    >
    </app-other-invites-times>

    <app-nominatas-students
      *ngIf="permissions.administrador || permissions.direcao"
      [permissions]="permissions"
    >
    </app-nominatas-students>

    <app-general-professors
      *ngIf="
        permissions.secretaria ||
        permissions.administrador ||
        permissions.direcao
      "
      [permissions]="permissions"
    >
    </app-general-professors>

    <app-professor-photos
      *ngIf="
        permissions.secretaria ||
        permissions.design ||
        permissions.administrador ||
        permissions.direcao
      "
      [permissions]="permissions"
    >
    </app-professor-photos>

    <app-nominatas-professors
      *ngIf="
        permissions.secretaria ||
        permissions.administrador ||
        permissions.direcao
      "
      [permissions]="permissions"
    >
    </app-nominatas-professors>

    <app-nominatas-photos
      *ngIf="
        permissions.administrador || permissions.direcao || permissions.design
      "
      [permissions]="permissions"
    >
    </app-nominatas-photos>

    <app-events
      *ngIf="
        permissions.secretaria ||
        permissions.design ||
        permissions.administrador ||
        permissions.direcao
      "
      [permissions]="permissions"
    >
    </app-events>

    <app-unactive
      *ngIf="
        permissions.secretaria ||
        permissions.design ||
        permissions.administrador ||
        permissions.direcao
      "
      [permissions]="permissions"
    >
    </app-unactive>
  </div>
</app-container>
