<section
  #sectionBox
  [ngClass]="{ smallSectionBox: !showBox, sectionBox: showBox }"
>
  <div class="boxHead">
    <span class="headField" (click)="toShowBox()">
      <img
        #expandIcon
        class="seeMoreIcon"
        [ngClass]="{ rotatedClock: showBox }"
        id="seeMoreIconFormations"
        src="assets/icons/seeMoreIcon.png"
        alt="Expandir"
      />
      <p class="sectionTitle1">{{ title }}</p>
    </span>

    <button
      *ngIf="new"
      #addIcon
      [ngClass]="{ hidden: !showBox }"
      (click)="showForm = true"
    >
      Adicionar nova investidura
    </button>
  </div>
  <section class="formCreationWrapper" *ngIf="showForm">
    <app-creation-form
      (save)="showAlert('create', 'Confirmar a criação deste item?')"
    >
      <div class="subSection">
        <label class="w-full">
          Tipo de investidura
          <select
            name="degreeSelect"
            [(ngModel)]="createRegistryData.endowment_type_id"
          >
            <option
              *ngFor="let endowmentType of endowmentTypeList"
              [value]="endowmentType.endowment_type_id"
              [disabled]="endowmentType.used === true"
            >
              {{ endowmentType.endowment_type_name }}
            </option>
          </select>
        </label>
      </div>
      <div class="subSection">
        <label>
          Local da investidura
          <input
            type="text"
            name="place"
            [(ngModel)]="createRegistryData.place"
          />
        </label>
        <label>
          Ano da investidura
          <input
            type="text"
            name="year"
            [(ngModel)]="createRegistryData.year"
          />
        </label>
      </div>
    </app-creation-form>
  </section>
  <section *ngIf="showBox" class="registriesWrapper">
    <app-update-form
      (editRegistry)="showAlert('edit', 'Confirmar a edição este item?', i)"
      (deleteRegistry)="
        showAlert(
          'delete',
          'Confirmar a exclusão deste item?',
          registry.endowment_id
        )
      "
      (atualize)="ngOnInit()"
      [del]="del"
      [table]="'endowments'"
      [approve]="approve"
      [approved]="registry.endowment_approved"
      [registryIdToApprove]="registry.endowment_id"
      [registryId]="i"
      *ngFor="let registry of allRegistries; index as i"
      [ngClass]="{
        approved: registry.endowment_approved,
        unapproved: registry.endowment_approved === false
      }"
    >
      <div class="subSection">
        <label class="w-full">
          Tipo de investidura
          <select name="degreeSelect" [(ngModel)]="registry.endowment_type_id">
            <option
              *ngFor="let endowmentType of endowmentTypeList"
              [value]="endowmentType.endowment_type_id"
              [disabled]="
                endowmentType.used === true &&
                endowmentType.endowment_type_id !== registry.endowment_type_id
              "
            >
              {{ endowmentType.endowment_type_name }}
            </option>
          </select>
        </label>
      </div>
      <div class="subSection">
        <label>
          Local da ordenação
          <input type="text" name="place" [(ngModel)]="registry.place" />
        </label>
        <label>
          Ano da ordenação
          <input
            type="text"
            name="pasEclBeginDate"
            [(ngModel)]="registry.year"
          />
        </label>
      </div>
    </app-update-form>
  </section>
</section>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeError()"
  />
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{ doneMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeDone()"
  />
</div>
<app-alert-modal
  *ngIf="alert"
  class="alert"
  [alertMessage]="this.alertMessage"
  [func]="this.func"
  (continue)="confirm($event)"
></app-alert-modal>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>
