<section *ngIf="permissions.secretaria || permissions.administrador" class="smallSectionBox" id="boxHeadLanguageTypes">
  <div class="boxHead">
    <span class="headField" (click)="showBox()">
      <img class="seeMoreIcon" id="seeMoreIconLanguageTypes" src="assets/icons/seeMoreIcon.png" alt="">
      <p class="sectionTitle1">Tipos de linguagem</p>
    </span>

    <img class="addIcon hidden" id="languageTypeAddIcon" src="assets/icons/addIcon.png"
      alt="Criar novo tipo de linguagem" (click)="createForm()">
  </div>
  <section>
    <form *ngIf="creatingLanguageType" class="formCreation">
      <label class="inputLabel">
        Novo tipo de linguagem
        <input class="mediumInput" type="text" name="languageTypeInput" [(ngModel)]="createLanguageTypeData.language">
      </label>

      <button class="saveButton" type="button" (click)="createLanguageType()">SALVAR</button>
    </form>
    <section class="registriesWrapper"><app-registry #registryApp [registryId]="i"
        (editRegistry)="editLanguageType($event.id, $event.saveButtonId)" (deleteRegistry)="deleteRegistry($event)"
        *ngFor="let registry of allLanguageTypes; index as i;">
        <span class="field">
          <p class="fieldTitle">Tipo de linguagem:</p>
          <input class="fieldContent" [id]="'languageTypeInput'+i" name=`languageTypeInput${i}`
            [(ngModel)]="allLanguageTypes[i].language">
        </span>
      </app-registry></section>
  </section>
</section>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{errorMessage}}</p>
  </div>
  <img class="closeIcon" src="assets/icons/closeIcon.png" alt="Fechar" (click)="closeError()">
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{doneMessage}}</p>
  </div>
  <img class="closeIcon" src="assets/icons/closeIcon.png" alt="Fechar" (click)="closeDone()">
</div>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>