.alonePhoto {
  width: 260.85px;
  height: 266.96px;
  overflow: hidden;
}

.imageContainer {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.imageModel {
  opacity: 50%;
}
