<div class="content">
    <img src="assets/icons/plusIcon.svg" class="actionIcon" alt="" (click)="createAddressModal()">
    <div *ngFor="let address of addresses" class="listItem">
        <p class="listItemText">Logradouro: {{address.street}}, nº {{address.number}}, {{address.complement}} - Bairro {{address.neighborhood}}. CEP: {{address.zip_code}}. {{address.city}} - {{address.state}}. {{address.reference_point}}. </p>
        <p class="listItemText"></p>
    </div>
</div>
<div *ngIf="creatingAddress.active" class="modalContainer">
    <div class="fadeGray"></div>
    <div class="modal">
      <label class="inputLabel" for="logradouroInput">Logradouro<input id="logradouroInput" class="largeInput" type="text" [(ngModel)]="newAddress.street"></label>
      <div class="formLine">
        <label class="inputLabel" for="numeroInput">Número<input id="numeroInput" class="smallInput" type="text" [(ngModel)]="newAddress.number"></label>
        <label class="inputLabel" for="complementoInput">Complemento<input id="complementoInput" class="mediumInput" type="text" [(ngModel)]="newAddress.complement"></label>
      </div>
      <div class="formLine">
        <label class="inputLabel" for="bairroInput">Bairro<input id="bairroInput" class="mediumInput" type="text" [(ngModel)]="newAddress.neighborhood"></label>
        <label class="inputLabel" for="cepInput">CEP<input id="cepInput" class="smallInput" type="text" [(ngModel)]="newAddress.zipCode" (blur)="findCep()"></label>
      </div>
      <div class="formLine">
        <label class="inputLabel" for="cidadeInput">Cidade<input id="cidadeInput" class="mediumInput" type="text" [(ngModel)]="newAddress.city"></label>
        <label class="inputLabel" for="estadoInput">Estado<input id="estadoInput" class="smallInput" type="text" [(ngModel)]="newAddress.state"></label>
      </div>

      <label class="inputLabel" for="referenciaInput">Ponto de referência<input id="referenciaInput" class="mediumInput" type="text" [(ngModel)]="newAddress.referencePoint"></label>
      <div class="formLine">
        <button class="saveButton" type="submit" (click)="createAddress()">Salvar</button>
        <button class="cancelButton" type="submit" (click)="destroyAddressModal()">Cancelar</button>
      </div>
    </div>
  </div>