<section
  #sectionBox
  [ngClass]="{ smallSectionBox: !showBox, sectionBox: showBox }"
>
  <div class="boxHead">
    <span class="headField" (click)="showBox = !showBox">
      <img
        #expandIcon
        class="seeMoreIcon"
        [ngClass]="{ rotatedClock: showBox }"
        id="seeMoreIconFormations"
        src="assets/icons/seeMoreIcon.png"
        alt="Expandir"
      />
      <p class="sectionTitle1">{{ title }}</p>
    </span>

    <button
      #addIcon
      [ngClass]="{ hidden: !showBox }"
      src="assets/icons/addIcon.png"
      (click)="showForm = true"
    >
      Adicionar novo curso/formação
    </button>
  </div>
  <section class="formCreationWrapper" *ngIf="showForm">
    <app-creation-form (save)="createRegistry()">
      <div class="subSection">
        <label>
          Área do curso
          <div class="formInstruction">
            Insira os cursos que julgar relevantes para o ministério.
          </div>
          <input
            type="text"
            name="courseArea"
            [(ngModel)]="createRegistryData.course_area"
          />
        </label>
        <label>
          Instituição
          <input
            type="text"
            name="institution"
            [(ngModel)]="createRegistryData.institution"
          />
        </label>
      </div>
      <div class="subSection">
        <label>
          Data de início
          <input
            type="date"
            name="begin_date"
            [(ngModel)]="createRegistryData.begin_date"
          />
        </label>
        <label>
          Data de fim
          <input
            type="date"
            name="conclusion_date"
            [(ngModel)]="createRegistryData.conclusion_date"
          />
        </label>
      </div>
    </app-creation-form>
  </section>
  <section class="registriesWrapper">
    <app-update-form
      [registryId]="i"
      (editRegistry)="editRegistry(i, $event.saveButtonId)"
      (deleteRegistry)="deleteRegistry(registry.course_id)"
      *ngFor="let registry of allRegistries; index as i"
      [ngClass]="{
        approved: registry.course_approved,
        unapproved: registry.course_approved === false
      }"
    >
      <div class="subSection">
        <label>
          Área do curso
          <input
            type="text"
            name="courseArea"
            [(ngModel)]="registry.course_area"
          />
        </label>
        <label>
          Instituição
          <input
            type="text"
            name="institution"
            [(ngModel)]="registry.institution"
          />
        </label>
      </div>
      <div class="subSection">
        <label>
          Data de início
          <input
            type="date"
            name="begin_date"
            [(ngModel)]="registry.begin_date"
          />
        </label>
        <label>
          Data de fim
          <input
            type="date"
            name="conclusion_date"
            [(ngModel)]="registry.conclusion_date"
          />
        </label>
      </div>
    </app-update-form>
  </section>
</section>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeError()"
  />
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{ doneMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeDone()"
  />
</div>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>
