<div class="container" (click)="loginMenu=false">
  <header class="header">
    <div class="headerWrapper">
      <div class="logoDiv">
        <img class="logo" src="assets/img/Logo.png" alt="Logo do seminário Latino Americano de Teologia">
      </div>
      <nav class="navDiv">
        <ul class="menuOptions">
          <li class="menuOption" (click)="choseOption('nominata')"><a>Nominata</a></li>
          <li
            *ngIf="(permissions.administrador||permissions.direcao||permissions.estudante||permissions.representacao||permissions.secretaria) && permissions.isApproved"
            class="menuOption" (click)="choseOption('cadastros')"><a>Cadastros</a></li>
          <li *ngIf="(permissions.administrador||permissions.direcao||permissions.secretaria) && permissions.isApproved"
            class="menuOption" (click)="choseOption('aprovacoes')"><a>Aprovações</a></li>
          <li *ngIf="(permissions.administrador||permissions.representacao) && permissions.isApproved"
            class="menuOption" (click)="choseOption('vagas')"><a>Vagas</a></li>
          <li
            *ngIf="(permissions.administrador||permissions.representacao||permissions.direcao) && permissions.isApproved"
            class="menuOption" (click)="choseOption('chamados')"><a>Chamados</a></li>
          <li class="menuOption relative" (click)="$event.stopPropagation(); loginMenu=!loginMenu">
            <img class="menuIcon" src="assets/icons/userIcon.svg" alt="Ícone de usuário">
          </li>
          <li class="menuOption"><img class="menuIcon" src="assets/icons/notificationIcon.png"
              alt="Ícone de notificação">
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <app-login-menu *ngIf="loginMenu"></app-login-menu>
  <app-approves
    *ngIf="(permissions.administrador||permissions.direcao||permissions.secretaria) && permissions.isApproved && options.aprovacoes"
    [permissions]="permissions"></app-approves>
  <app-records
    *ngIf="(permissions.administrador||permissions.direcao||permissions.estudante||permissions.representacao||permissions.secretaria) && permissions.isApproved && options.cadastros"
    [permissions]="permissions"></app-records>
</div>
