.container {
  box-sizing: border-box;
  background: #e3e3e3;
  min-height: 100vh;
  max-height: 100%;
}

.header {
  width: 100%;
  overflow-x: hidden;
  padding: 1rem;
  background: linear-gradient(
    180deg,
    #202c3d 5.58%,
    #223a52 43.15%,
    #244c6c 111.37%
  );
  position: sticky;
  top: 0px;
  z-index: 3;
}

.headerWrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 42px;
}

.menuOptions {
  display: flex;
  list-style: none;
  gap: 26px;
}

.menuOption {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  transform: 0.5s;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;

  /* or 200% */
  align-items: center;
  letter-spacing: 0.2px;
  color: #f0f0f0;
}

.menuOption:hover {
  transform: scale(1.15);
}

.menuIcon {
  height: 17px;
}
