<div class="container">
  <header class="header">
    <div class="headerWrapper">
      <div class="logoDiv">
        <img
          class="logo"
          src="assets/img/Logo.png"
          alt="Logo do seminário Latino Americano de Teologia"
        />
      </div>
      <nav class="navDiv">
        <ul class="menuOptions">
          <li *ngIf="!permissions.isApproved" class="menuOption">
            <a href="#classPhoto" class="openMenuOption" scrollToAnchor
              >Início</a
            >
          </li>
          <li *ngIf="!permissions.isApproved" class="menuOption">
            <a href="#words" class="openMenuOption" scrollToAnchor
              >Palavras do diretor</a
            >
          </li>
          <li *ngIf="!permissions.isApproved" class="menuOption">
            <a href="#students" class="openMenuOption" scrollToAnchor
              >Formandos</a
            >
          </li>
          <li *ngIf="!permissions.isApproved" class="menuOption">
            <a href="#professors" class="openMenuOption" scrollToAnchor
              >Professores</a
            >
          </li>
          <li *ngIf="!permissions.isApproved" class="menuOption">
            <a href="#events" class="openMenuOption" scrollToAnchor
              >Formatura</a
            >
          </li>
          <li
            *ngIf="permissions.isApproved"
            class="menuOption"
            (click)="navigate('nominata')"
          >
            <a>Nominata</a>
          </li>
          <li
            *ngIf="
              (permissions.administrador ||
                permissions.direcao ||
                permissions.estudante ||
                permissions.representacao ||
                permissions.secretaria ||
                permissions.docente) &&
              permissions.isApproved
            "
            class="menuOption"
            (click)="navigate('cadastros')"
          >
            <a>Cadastros</a>
          </li>
          <li
            *ngIf="
              (permissions.administrador ||
                permissions.direcao ||
                permissions.secretaria ||
                permissions.docente) &&
              permissions.isApproved
            "
            (click)="$event.stopPropagation(); approvalMenu = !approvalMenu"
            class="menuOption"
          >
            <a>Aprovações</a>
            <app-approvals-menu
              *ngIf="approvalMenu"
              (approvalType)="changeApprovalType($event)"
              [permissions]="permissions"
            ></app-approvals-menu>
          </li>
          <li
            *ngIf="
              (permissions.administrador || permissions.representacao) &&
              permissions.isApproved
            "
            class="menuOption"
            (click)="choseOption('vagas')"
          >
            <a>Vagas</a>
          </li>
          <li
            *ngIf="
              (permissions.administrador ||
                permissions.representacao ||
                permissions.direcao) &&
              permissions.isApproved
            "
            class="menuOption"
            (click)="choseOption('chamados')"
          >
            <a>Chamados</a>
          </li>
          <li
            *ngIf="
              (permissions.administrador ||
                permissions.secretaria ||
                permissions.direcao) &&
              permissions.isApproved
            "
            class="menuOption"
            (click)="navigate('parametrizacao')"
          >
            <a>Parametrização</a>
          </li>
          <li
            class="menuOption relative"
            (click)="$event.stopPropagation(); loginMenu = !loginMenu"
          >
            <img
              class="menuIcon"
              src="assets/icons/userIcon.svg"
              alt="Ícone de usuário"
            />
            <app-login-menu *ngIf="loginMenu"></app-login-menu>
          </li>
          <li *ngIf="permissions.isApproved" class="menuOption">
            <img
              class="menuIcon"
              src="assets/icons/notificationIcon.png"
              alt="Ícone de notificação"
            />
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <ng-content></ng-content>

  <!-- <app-approves
    *ngIf="
      (permissions.administrador ||
        permissions.direcao ||
        permissions.secretaria ||
        permissions.docente) &&
      permissions.isApproved &&
      options.aprovacoes
    "
    [permissions]="permissions"
    [approvalType]="approvalType"
  ></app-approves> -->
  <!-- <app-records
    *ngIf="
      (permissions.administrador ||
        permissions.direcao ||
        permissions.estudante ||
        permissions.representacao ||
        permissions.secretaria ||
        permissions.docente) &&
      permissions.isApproved &&
      options.cadastros
    "
    [permissions]="permissions"
  ></app-records> -->
  <!-- <app-parameterization
    *ngIf="
      (permissions.administrador ||
        permissions.direcao ||
        permissions.secretaria) &&
      permissions.isApproved &&
      options.parametrizacao
    "
    [permissions]="permissions"
  ></app-parameterization> -->
  <!-- <app-nominata
    *ngIf="options.nominata"
    [permissions]="permissions"
    (toStudent)="changeToStudent($event)"
  ></app-nominata> -->
  <!-- <app-student
    *ngIf="options.student"
    [permissions]="permissions"
    [studentId]="studentId"
  >
  </app-student> -->
</div>
