<app-container>
  <div class="sectionBoxes">
    <app-users [permissions]="permissions"></app-users>

    <app-students
      *ngIf="permissions.estudante || permissions.administrador"
      [permissions]="permissions"
    ></app-students>

    <app-student-academic-formations
      *ngIf="permissions.estudante || permissions.administrador"
      [permissions]="permissions"
    ></app-student-academic-formations>

    <app-st-courses
      *ngIf="permissions.estudante || permissions.administrador"
      [permissions]="permissions"
    ></app-st-courses>

    <app-languages
      *ngIf="permissions.estudante || permissions.administrador"
      [permissions]="permissions"
    ></app-languages>

    <app-publications
      *ngIf="permissions.estudante || permissions.administrador"
      [permissions]="permissions"
    ></app-publications>

    <app-professional-experiences
      *ngIf="permissions.estudante || permissions.administrador"
      [permissions]="permissions"
    ></app-professional-experiences>

    <app-past-ecl-exps
      *ngIf="permissions.estudante || permissions.administrador"
      [permissions]="permissions"
    ></app-past-ecl-exps>

    <app-evg-experiences
      *ngIf="permissions.estudante || permissions.administrador"
      [permissions]="permissions"
    ></app-evg-experiences>

    <app-ecl-experiences
      *ngIf="permissions.estudante || permissions.administrador"
      [permissions]="permissions"
    ></app-ecl-experiences>

    <app-ordinations
      *ngIf="permissions.estudante || permissions.administrador"
      [permissions]="permissions"
    ></app-ordinations>

    <app-endowments
      *ngIf="permissions.estudante || permissions.administrador"
      [permissions]="permissions"
    ></app-endowments>

    <app-related-ministries
      *ngIf="permissions.estudante || permissions.administrador"
      [permissions]="permissions"
    ></app-related-ministries>

    <app-children
      *ngIf="permissions.estudante || permissions.administrador"
      [permissions]="permissions"
    ></app-children>

    <app-spouses
      *ngIf="
        (dataService.maritalStatusName === 'Casado' ||
          dataService.maritalStatusName === 'Noivo') &&
        (permissions.estudante || permissions.administrador)
      "
      [permissions]="permissions"
    ></app-spouses>
    <app-sp-academic-formations
      *ngIf="
        (dataService.maritalStatusName === 'Casado' ||
          dataService.maritalStatusName === 'Noivo') &&
        (permissions.estudante || permissions.administrador)
      "
      [permissions]="permissions"
    ></app-sp-academic-formations>

    <app-ps-courses
      *ngIf="
        (dataService.maritalStatusName === 'Casado' ||
          dataService.maritalStatusName === 'Noivo') &&
        (permissions.estudante || permissions.administrador)
      "
      [permissions]="permissions"
    ></app-ps-courses>

    <app-sp-languages
      *ngIf="
        (dataService.maritalStatusName === 'Casado' ||
          dataService.maritalStatusName === 'Noivo') &&
        (permissions.estudante || permissions.administrador)
      "
      [permissions]="permissions"
    ></app-sp-languages>

    <app-sp-publications
      *ngIf="
        (dataService.maritalStatusName === 'Casado' ||
          dataService.maritalStatusName === 'Noivo') &&
        (permissions.estudante || permissions.administrador)
      "
      [permissions]="permissions"
    ></app-sp-publications>

    <app-sp-professional-experiences
      *ngIf="
        (dataService.maritalStatusName === 'Casado' ||
          dataService.maritalStatusName === 'Noivo') &&
        (permissions.estudante || permissions.administrador)
      "
      [permissions]="permissions"
    ></app-sp-professional-experiences>

    <app-sp-past-ecl-exp
      *ngIf="
        (dataService.maritalStatusName === 'Casado' ||
          dataService.maritalStatusName === 'Noivo') &&
        (permissions.estudante || permissions.administrador)
      "
      [permissions]="permissions"
    ></app-sp-past-ecl-exp>

    <app-sp-evg-experiences
      *ngIf="
        (dataService.maritalStatusName === 'Casado' ||
          dataService.maritalStatusName === 'Noivo') &&
        (permissions.estudante || permissions.administrador)
      "
      [permissions]="permissions"
    ></app-sp-evg-experiences>

    <app-sp-endowments
      *ngIf="
        (dataService.maritalStatusName === 'Casado' ||
          dataService.maritalStatusName === 'Noivo') &&
        (permissions.estudante || permissions.administrador)
      "
      [permissions]="permissions"
    ></app-sp-endowments>
    <app-sp-related-ministries
      *ngIf="
        (dataService.maritalStatusName === 'Casado' ||
          dataService.maritalStatusName === 'Noivo') &&
        (permissions.estudante || permissions.administrador)
      "
      [permissions]="permissions"
    ></app-sp-related-ministries>
    <app-previous-marriage
      *ngIf="
        (dataService.maritalStatusName === 'Divorciado' ||
          dataService.maritalStatusName === 'Viúvo') &&
        (permissions.estudante || permissions.administrador)
      "
      [permissions]="permissions"
    ></app-previous-marriage>

    <app-professors
      *ngIf="permissions.docente || permissions.administrador"
      [permissions]="permissions"
    ></app-professors>

    <app-small-alone-professor-photos
      *ngIf="permissions.docente || permissions.administrador"
      [permissions]="permissions"
    ></app-small-alone-professor-photos>
    <app-field-reps
      *ngIf="permissions.representacao || permissions.administrador"
      [permissions]="permissions"
    ></app-field-reps>
    <app-representations
      *ngIf="permissions.representacao || permissions.administrador"
      [permissions]="permissions"
    ></app-representations>
  </div>
  <app-error-modal *ngIf="error"></app-error-modal>
</app-container>
