<div class="sectionBoxes">
  <app-marital-status
    *ngIf="permissions.secretaria || permissions.administrador"
    [permissions]="permissions"
  ></app-marital-status>
  <app-unions
    *ngIf="permissions.secretaria || permissions.administrador"
    [permissions]="permissions"
  ></app-unions>
  <app-associations
    *ngIf="permissions.secretaria || permissions.administrador"
    [permissions]="permissions"
  ></app-associations>
  <app-hiring-status
    *ngIf="permissions.secretaria || permissions.administrador"
    [permissions]="permissions"
  ></app-hiring-status>
  <app-academic-degrees
    *ngIf="permissions.secretaria || permissions.administrador"
    [permissions]="permissions"
  ></app-academic-degrees>
  <app-language-types
    *ngIf="permissions.secretaria || permissions.administrador"
    [permissions]="permissions"
  ></app-language-types>
  <app-evang-exp-types
    *ngIf="permissions.secretaria || permissions.administrador"
    [permissions]="permissions"
  ></app-evang-exp-types>
  <app-ecl-exp-types
    *ngIf="permissions.secretaria || permissions.administrador"
    [permissions]="permissions"
  ></app-ecl-exp-types>
  <app-ministry-types
    *ngIf="permissions.secretaria || permissions.administrador"
    [permissions]="permissions"
  ></app-ministry-types>
  <app-endowment-types
    *ngIf="permissions.secretaria || permissions.administrador"
    [permissions]="permissions"
  ></app-endowment-types>

  <app-publication-types
    *ngIf="permissions.secretaria || permissions.administrador"
    [permissions]="permissions"
  ></app-publication-types>

  <app-students
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-students>

  <app-student-academic-formations
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-student-academic-formations>

  <app-st-courses
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-st-courses>

  <app-languages
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-languages>

  <app-publications
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-publications>

  <app-professional-experiences
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-professional-experiences>

  <app-past-ecl-exps
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-past-ecl-exps>

  <app-evg-experiences
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-evg-experiences>

  <app-ecl-experiences
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-ecl-experiences>

  <app-ordinations
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-ordinations>

  <app-endowments
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-endowments>

  <app-related-ministries
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-related-ministries>

  <app-children
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-children>

  <app-spouses
    *ngIf="
      (dataService.maritalStatusName == 'Casado' ||
        dataService.maritalStatusName == 'Noivo') &&
      (permissions.estudante || permissions.administrador)
    "
    [permissions]="permissions"
  ></app-spouses>
  <app-sp-academic-formations
    *ngIf="
      (dataService.maritalStatusName == 'Casado' ||
        dataService.maritalStatusName == 'Noivo') &&
      (permissions.estudante || permissions.administrador)
    "
    [permissions]="permissions"
  ></app-sp-academic-formations>

  <app-ps-courses
    *ngIf="
      (dataService.maritalStatusName == 'Casado' ||
        dataService.maritalStatusName == 'Noivo') &&
      (permissions.estudante || permissions.administrador)
    "
    [permissions]="permissions"
  ></app-ps-courses>

  <app-sp-languages
    *ngIf="
      (dataService.maritalStatusName == 'Casado' ||
        dataService.maritalStatusName == 'Noivo') &&
      (permissions.estudante || permissions.administrador)
    "
    [permissions]="permissions"
  ></app-sp-languages>

  <app-sp-publications
    *ngIf="
      (dataService.maritalStatusName == 'Casado' ||
        dataService.maritalStatusName == 'Noivo') &&
      (permissions.estudante || permissions.administrador)
    "
    [permissions]="permissions"
  ></app-sp-publications>

  <app-sp-professional-experiences
    *ngIf="
      (dataService.maritalStatusName == 'Casado' ||
        dataService.maritalStatusName == 'Noivo') &&
      (permissions.estudante || permissions.administrador)
    "
    [permissions]="permissions"
  ></app-sp-professional-experiences>

  <app-sp-past-ecl-exp
    *ngIf="
      (dataService.maritalStatusName == 'Casado' ||
        dataService.maritalStatusName == 'Noivo') &&
      (permissions.estudante || permissions.administrador)
    "
    [permissions]="permissions"
  ></app-sp-past-ecl-exp>

  <app-sp-endowments
    *ngIf="
      (dataService.maritalStatusName == 'Casado' ||
        dataService.maritalStatusName == 'Noivo') &&
      (permissions.estudante || permissions.administrador)
    "
    [permissions]="permissions"
  ></app-sp-endowments>
  <app-sp-related-ministries
    *ngIf="
      (dataService.maritalStatusName == 'Casado' ||
        dataService.maritalStatusName == 'Noivo') &&
      (permissions.estudante || permissions.administrador)
    "
    [permissions]="permissions"
  ></app-sp-related-ministries>
  <app-previous-marriage
    *ngIf="
      (dataService.maritalStatusName == 'Divorciado' ||
        dataService.maritalStatusName == 'Viúvo') &&
      (permissions.estudante || permissions.administrador)
    "
    [permissions]="permissions"
  ></app-previous-marriage>

  <app-small-alone-student-photos
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-small-alone-student-photos>

  <!-- <app-alone-student-photo
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-alone-student-photo>

  <app-family-student-photo
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-family-student-photo>

  <app-spouse-student-photo
    *ngIf="permissions.estudante || permissions.administrador"
    [permissions]="permissions"
  ></app-spouse-student-photo> -->

  <div></div>
</div>
