<section
  #sectionBox
  [ngClass]="{ smallSectionBox: !showBox, sectionBox: showBox }"
>
  <div class="boxHead">
    <span class="headField" (click)="toShowBox()">
      <img
        #expandIcon
        class="seeMoreIcon"
        [ngClass]="{ rotatedClock: showBox }"
        id="seeMoreIconFormations"
        src="assets/icons/seeMoreIcon.png"
        alt="Expandir"
      />
      <p class="sectionTitle1">{{ title }}</p>
    </span>
    <button
      *ngIf="new"
      #addIcon
      [ngClass]="{ hidden: !showBox }"
      src="assets/icons/addIcon.png"
      (click)="showForm = true"
    >
      Adicionar nova formação acadêmica
    </button>
  </div>
  <section class="formCreationWrapper" *ngIf="showForm">
    <app-creation-form
      (save)="showAlert('create', 'Confirmar a criação deste item?')"
    >
      <div class="subSection">
        <label class="inputLabel">
          Titulação
          <select
            class="smallInput"
            name="degreeSelect"
            [(ngModel)]="createRegistryData.degree_id"
          >
            <option
              *ngFor="let degree of spAllDegrees"
              [value]="degree.degree_id"
            >
              {{ degree.degree_name }}
            </option>
          </select>
        </label>
        <label class="inputLabel">
          Área de formação<input
            class="smallMediumInput"
            type="text"
            name="formationAreaInput"
            [(ngModel)]="createRegistryData.course_area"
          />
        </label>
      </div>

      <div class="subSection">
        <label class="inputLabel">
          Instituição:<input
            class="largeInput"
            type="text"
            name="institutionInput"
            [(ngModel)]="createRegistryData.institution"
          />
        </label>
      </div>

      <div class="subSection">
        <label class="inputLabel">
          Data de início:
          <input
            class="smallInput"
            type="date"
            name="beginDateInput"
            [(ngModel)]="createRegistryData.begin_date"
          />
        </label>
        <label class="inputLabel">
          Data de fim:
          <input
            class="smallInput"
            type="date"
            name="beginDateInput"
            [(ngModel)]="createRegistryData.conclusion_date"
          />
        </label>
      </div>
    </app-creation-form>
  </section>
  <section *ngIf="showBox" class="registriesWrapper">
    <app-update-form
      (editRegistry)="showAlert('edit', 'Confirmar a edição este item?', i)"
      (deleteRegistry)="
        showAlert(
          'delete',
          'Confirmar a exclusão deste item?',
          registry.formation_id
        )
      "
      (atualize)="ngOnInit()"
      [del]="del"
      [table]="'academic_formations'"
      [approve]="approve"
      [approved]="registry.academic_formation_approved"
      [registryIdToApprove]="registry.formation_id"
      [registryId]="i"
      *ngFor="let registry of allRegistries; index as i"
      [ngClass]="{
        approved: registry.academic_formation_approved,
        unapproved: registry.academic_formation_approved === false
      }"
    >
      <span class="field">
        <p class="fieldTitle">Grau acadêmico:</p>
        <select
          class="fieldContent"
          [id]="'degreeSelect' + i"
          name="'degreeSelect'+i"
          [(ngModel)]="registry.degree_id"
        >
          <option
            *ngFor="let degree of spAllDegrees"
            [value]="degree.degree_id"
          >
            {{ degree.degree_name }}
          </option>
        </select>
      </span>
      <span class="field">
        <p class="fieldTitle">Área de formação:</p>
        <input
          class="fieldContent"
          [id]="'course_areaInput' + i"
          name="`course_areaInput${i}`"
          [(ngModel)]="registry.course_area"
        />
      </span>
      <span class="field w-full">
        <p class="fieldTitle">Instituição</p>
        <input
          class="fieldContent"
          [id]="'institutionInput' + i"
          name="`institutionInput${i}`"
          [(ngModel)]="registry.institution"
        />
      </span>
      <span class="field">
        <p class="fieldTitle">Data de início:</p>
        <input
          class="fieldContent"
          [id]="'begin_dateInput' + i"
          type="date"
          name="`begin_dateInput${i}`"
          [(ngModel)]="registry.begin_date"
        />
      </span>
      <span class="field">
        <p class="fieldTitle">Data de conclusão:</p>
        <input
          class="fieldContent"
          [id]="'conclusion_dateInput' + i"
          type="date"
          name="`conclusion_dateInput${i}`"
          [(ngModel)]="registry.conclusion_date"
        />
      </span>
    </app-update-form>
  </section>
</section>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeError()"
  />
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{ doneMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeDone()"
  />
</div>
<app-alert-modal
  *ngIf="alert"
  class="alert"
  [alertMessage]="this.alertMessage"
  [func]="this.func"
  (continue)="confirm($event)"
></app-alert-modal>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>
