<section class="smallSectionBox" id="boxHeadSpAcademicFormations">
  <div class="boxHead">
    <span class="headField" (click)="showBox()">
      <img class="seeMoreIcon" id="seeMoreIconFormations" src="assets/icons/seeMoreIcon.png" alt="Expandir">
      <p class="sectionTitle1">Formações acadêmicas do cônjuge</p>
    </span>

    <img class="addIcon hidden" id="spFormationAddIcon" src="assets/icons/addIcon.png"
      alt="Criar nova formação acadêmica" (click)="createForm()">
  </div>
  <section>
    <form *ngIf="creatingFormation" class="formCreation">

      <section class="formArea">
        <label class="inputLabel">
          Grau acadêmico
          <select class="smallInput" name="degreeSelect" [(ngModel)]="createSpAcademicFormationData.degree_id">
            <option *ngFor="let degree of spAllDegrees" [value]=degree.degree_id>{{degree.degree_name}}</option>
          </select>
        </label>
        <label class="inputLabel">
          Área de formação<input class="smallMediumInput" type="text" name="formationAreaInput"
            [(ngModel)]="createSpAcademicFormationData.course_area">
        </label>
      </section>
      <section class="formArea">
        <label class="inputLabel">
          Instituição:<input class="largeInput" type="text" name="institutionInput"
            [(ngModel)]="createSpAcademicFormationData.institution">
        </label>
      </section>

      <section class="formArea">
        <label class="inputLabel">
          Data de início: <input class="smallInput" type="date" name="beginDateInput"
            [(ngModel)]="createSpAcademicFormationData.begin_date">
        </label>
        <label class="inputLabel">
          Data de fim: <input class="smallInput" type="date" name="beginDateInput"
            [(ngModel)]="createSpAcademicFormationData.conclusion_date">
        </label>
      </section>
      <button class="saveButton" type="button" (click)="createSpAcademicFormation()">SALVAR</button>
    </form>
    <app-registry #registryApp [registryId]="i" (editRegistry)="editSpAcademicFormation($event.id, $event.saveButtonId)"
      (deleteRegistry)="deleteRegistry($event)" *ngFor="let registry of spAllFormations; index as i;">
      <span class="field">
        <p class="fieldTitle">Grau acadêmico:</p>
        <select class="smallInput hidden" [id]="'spDegreeSelect'+i" name="'degreeSelect'+i"
          [(ngModel)]="spAllFormations[i].degree_id">
          <option *ngFor="let degree of spAllDegrees" [value]=degree.degree_id>{{degree.degree_name}}</option>
        </select>
      </span>
      <span class="field">
        <p class="fieldTitle">Área de formação:</p>
        <input class="fieldContent" [id]="'spCourse_areaInput'+i" name=`course_areaInput${i}`
          [(ngModel)]="spAllFormations[i].course_area">
      </span>
      <span class="field flex-grow">
        <p class="fieldTitle">Instituição</p>
        <input class="fieldContent" [id]="'spinstitutionInput'+i" name=`institutionInput${i}`
          [(ngModel)]="spAllFormations[i].institution">
      </span>
      <span class="field">
        <p class="fieldTitle">Data de início:</p>
        <input class="fieldContent" [id]="'spbegin_dateInput'+i" type="date" name=`begin_dateInput${i}`
          [(ngModel)]="spAllFormations[i].begin_date">
      </span>
      <span class="field">
        <p class="fieldTitle">Data de conclusão:</p>
        <input class="fieldContent" [id]="'spconclusion_dateInput'+i" type="date" name=`conclusion_dateInput${i}`
          [(ngModel)]="spAllFormations[i].conclusion_date" />
      </span>
    </app-registry>
  </section>
</section>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{errorMessage}}</p>
  </div>
  <img class="closeIcon" src="assets/icons/closeIcon.png" alt="Fechar" (click)="closeError()">
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{doneMessage}}</p>
  </div>
  <img class="closeIcon" src="assets/icons/closeIcon.png" alt="Fechar" (click)="closeDone()">
</div>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>