<section
  #sectionBox
  [ngClass]="{ smallSectionBox: !showBox, sectionBox: showBox }"
>
  <div class="boxHead">
    <span class="headField" (click)="toShowBox()">
      <img
        #expandIcon
        class="seeMoreIcon"
        [ngClass]="{ rotatedClock: showBox }"
        id="seeMoreIconFormations"
        src="assets/icons/seeMoreIcon.png"
        alt="Expandir"
      />
      <p class="sectionTitle1">{{ title }}</p>
    </span>

    <button
      #addIcon
      [ngClass]="{ hidden: !showBox }"
      src="assets/icons/addIcon.png"
      (click)="showForm = true"
    >
      Adicionar nova representação de campo
    </button>
  </div>
  <section class="formCreationWrapper" *ngIf="showForm">
    <app-creation-form
      (save)="showAlert('create', 'Confirmar a criação deste item?')"
    >
      <div class="subSection">
        <label>
          Função
          <div class="formInstruction">
            Insira a função que desempenha no campo.
          </div>
          <input
            type="text"
            name="fieldFunction"
            placeholder="Presidente de campo"
            [(ngModel)]="createRegistryData.functionn"
          />
        </label>
        <label>
          União
          <select
            name="unionSelect"
            [(ngModel)]="selectedUnion"
            (change)="filterAssociation()"
          >
            <option *ngFor="let union of allUnions" [value]="union.union_id">
              {{ union.union_name }}
            </option>
          </select>
        </label>
        <label>
          Associação
          <select
            name="associationSelect"
            [(ngModel)]="createRegistryData.representedFieldID"
          >
            <option
              *ngFor="let association of filteredAssociations"
              [value]="association.association_id"
            >
              {{ association.association_name }}
            </option>
          </select>
        </label>
      </div>
    </app-creation-form>
  </section>
  <section *ngIf="showBox" class="registriesWrapper">
    <app-update-form
      (editRegistry)="showAlert('edit', 'Confirmar a edição este item?', i)"
      (deleteRegistry)="
        showAlert(
          'delete',
          'Confirmar a exclusão deste item?',
          registry.representationID
        )
      "
      [registryId]="i"
      *ngFor="let registry of registries; index as i"
      [ngClass]="{
        approved: registry.repApproved,
        unapproved: registry.repApproved === false
      }"
    >
      <div class="subSection">
        <label>
          Função
          <input
            type="text"
            name="courseArea"
            [(ngModel)]="registry.functionn"
          />
        </label>
        <label>
          Válido até:
          <p>{{ formatDate(registry.repActiveValidate) }}</p></label
        >
      </div>
      <div class="subSection">
        <label>
          União
          <select
            name="unionSelect"
            [(ngModel)]="selectedUnionGroup[i]"
            (change)="filterRegistryAssociations(i)"
          >
            <option
              *ngFor="let union of allUnions"
              [value]="union.union_id"
              [selected]="union.union_id === registries[i].representedFieldID"
            >
              {{ union.union_name }}
            </option>
          </select>
        </label>
        <label>
          Campo
          <select name="courseArea" [(ngModel)]="registry.representedFieldID">
            <option
              *ngFor="let association of filteredAssociationsGroup[i]"
              [value]="association.association_id"
              [selected]="
                association.association_id === registry.representedFieldID
              "
            >
              {{ association.association_name }}
            </option>
          </select>
        </label>
      </div>
    </app-update-form>
  </section>
</section>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeError()"
  />
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{ doneMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeDone()"
  />
</div>
<app-alert-modal
  *ngIf="alert"
  class="alert"
  [alertMessage]="this.alertMessage"
  [func]="this.func"
  (continue)="confirm($event)"
></app-alert-modal>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>
