<div class="sectionDataList">
  <section #sectionBox ngClass="sectionBoxAll">
    <div
      class="classPhotoContainer"
      *ngIf="Registry && Registry.imgUrl"
      [ngStyle]="{
        'background-image': 'url(' + Registry.imgUrl + ')'
      }"
    ></div>
    <div class="boxHead">
      <div class="oneStudentSpaceHeader">
        <p class="oneStudentSpaceTitle">{{ title }} {{ Registry?.year }}</p>
      </div>
    </div>

    <section *ngIf="words && words.length > 10">
      <div class="oneStudentSpaceHeader">
        <p class="oneStudentSpaceTitle">Palavras do diretor</p>
        <img src="assets/icons/barra.svg" alt="" />
      </div>
      <div class="directorSpace">
        <div class="directorTextContainer">
          <div id="directorText" #directorText>
            <p
              *ngFor="let paragraph of words"
              class="directorWordsParag"
              [innerHTML]="paragraph"
            ></p>
          </div>
          <button class="readMore" #readMore (click)="growText()">
            Continue lendo
          </button>

          <p class="directorWordsName">{{ director?.name }}</p>
          <p class="directorWordsParag">
            Diretor da Sede Regional do SALT (FAAMA) - {{ nominataYear }}
          </p>
        </div>
        <div
          class="directorPhotoContainer"
          *ngIf="director && Registry?.imgUrl"
          [ngStyle]="{
            'background-image': 'url(' + director.imgUrl + ')'
          }"
        ></div>
      </div>
    </section>

    <div class="oneStudentSpaceHeader">
      <p class="oneStudentSpaceTitle">Formandos</p>
      <img src="assets/icons/barra.svg" alt="" />
    </div>
    <form action="" id="searchForm">
      <select
        name="unionSelect"
        id=""
        class="searchConrols"
        [(ngModel)]="searchedUnion"
        (change)="filterStudents(true)"
      >
        <option value="">Todas as uniões</option>
        <option *ngFor="let union of unions" [value]="union">
          {{ union }}
        </option>
      </select>
      <select
        name="associationSelect"
        class="searchConrols"
        id=""
        [(ngModel)]="searchedAssociation"
        (change)="filterStudents()"
      >
        <option value="">Todas as associações</option>
        <option *ngFor="let association of associations" [value]="association">
          {{ association }}
        </option>
      </select>
      <input
        type="text"
        name="searchedStudentInput"
        class="searchConrols"
        [(ngModel)]="searchedStudent"
        (input)="filterStudents()"
      />
      <button (click)="cleanFilters()" id="cleanSearchButton">
        Limpar filtros
      </button>
    </form>
    <section class="perfilList">
      <div *ngFor="let student of studentsToList; index as i">
        <div (click)="selectStudent(student.student_id.toString())">
          <div class="smallAlonePhoto">
            <div
              *ngIf="student.imgUrl"
              class="imageContainer"
              [ngStyle]="{ 'background-image': 'url(' + student.imgUrl + ')' }"
            ></div>
          </div>
          <div class="studentDatacontainer">
            <div class="hiringStatusSpace">
              <div
                [ngClass]="{
                  disponivelIndicator:
                    student.hiring_status_name == 'Disponível',
                  contratadoIndicator:
                    student.hiring_status_name == 'Contratado',
                  chamadoIndicator: student.hiring_status_name == 'Chamado'
                }"
              ></div>
              <span class="hiringStatusText">{{
                student.hiring_status_name
              }}</span>
            </div>
            <p class="nominataStudentName">{{ student.name }}</p>
            <p class="studentCompData">
              {{ student.union_acronym }}/{{ student.association_acronym }}
            </p>
          </div>
        </div>
      </div>
    </section>

    <div class="oneStudentSpaceHeader">
      <p class="oneStudentSpaceTitle">Professores</p>
      <img src="assets/icons/barra.svg" alt="" />
    </div>

    <section class="perfilList">
      <div *ngFor="let professor of Registry?.professors; index as i">
        <div>
          <div class="smallAlonePhoto">
            <div
              *ngIf="professor.imgUrl"
              class="imageContainer"
              [ngStyle]="{
                'background-image': 'url(' + professor.imgUrl + ')'
              }"
            ></div>
          </div>
          <div class="professorDatacontainer">
            <p class="professorName">{{ professor.name }}</p>
            <p class="professorCompData">
              {{ professor.assignments }}
            </p>
          </div>
        </div>
      </div>
    </section>
    <div *ngIf="Registry?.events" class="oneStudentSpaceHeader">
      <p class="oneStudentSpaceTitle">Solenidades da formatura</p>
      <img src="assets/icons/barra.svg" alt="" />
    </div>
    <section class="perfilList">
      <div
        *ngFor="let event of Registry?.events; index as i"
        class="eventSpace"
      >
        <p class="eventTitle">
          {{ event.event_title }}
        </p>
        <div class="eventSection">
          <span>
            <strong> Data:</strong> {{ formatDate(event.event_date) }}
          </span>
          <span> <strong> Horário:</strong> {{ event.event_time }} </span>
        </div>

        <div class="eventSection">
          <span> <strong> Local:</strong> {{ event.event_place }} </span>
        </div>

        <div class="eventSection">
          <span> <strong> Endereço:</strong> {{ event.event_address }} </span>
        </div>
      </div>
    </section>
  </section>

  <div *ngIf="isLoading" class="loader1"></div>
  <div *ngIf="isLoading" class="loader2"></div>
</div>
