.readMore {
  background-color: transparent;
  box-shadow: none;
  font-size: 14px;
  font-family: 'Roboto';
  margin-top: 15px;
  text-decoration: underline;
  padding: 0px;
}

#directorText {
  max-height: 337.516px;
  overflow: hidden;
  transition: max-height 5s ease-in-out;
}

.oneStudentSpaceHeader {
  display: flex;
  margin-top: 50px;
}

.oneStudentSpaceTitle {
  font-family: 'Roboto', Sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-right: 16px;
}

section {
  margin-bottom: 110px;
}

section:last-of-type {
  margin-bottom: 0;
}

.eventSpace {
  background-color: transparent;
  background-image: linear-gradient(180deg, #1f2736 0%, #255071 100%);
  max-width: 30%;
  min-width: 290px;
  height: auto;
  padding: 24px;
  flex: 1;
}

.eventTitle {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}

.eventSection {
  display: flex;
  justify-content: space-between;

  margin-top: 24px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
}

.eventProperty {
  color: #ffffff;
}

.eventValue {
  color: #ffffff;
}

#searchForm {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.searchConrols {
  min-width: 222px;
  max-width: 250px;
  height: 44px;
  font-family: 'Roboto', Sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #676767;
  border-style: solid;
  border-color: #c4c4c4;
  border-radius: 0px 0px 0px 0px;
  padding: 12px 12px 12px 12px;
}

#cleanSearchButton {
  width: 130px;
  height: 44px;
  font-family: 'Roboto', Sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fc6a4d;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  padding: 10px;
  box-shadow: none;
}

#maps {
  width: 100%;
  height: 22vw;
  margin-top: 41px;
}

footer {
  background-image: linear-gradient(180deg, #1f2736 0%, #255071 100%);
  width: 100%;
  height: 20vw;
  max-height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#faamaLogo {
  width: 128px;
}

#footerContent {
  width: 80vw;
  max-width: 1450.71px;
  display: flex;
  justify-content: space-between;
}

.socialMediaDiv {
  display: flex;
  gap: 32px;
  margin-top: 41px;
}

.socialMediaIcon {
  height: 30px;
}

.contactDiv {
  display: flex;
  gap: 142px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contactTitle {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}

.contactcContent {
  margin-top: 15px;
  color: white;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  text-transform: uppercase;
}

#whatsapp {
  text-decoration: none;
  color: white;
}

.iconeContainer {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 480px) {
  .classPhotoContainer {
    position: relative;
    right: 10vw;
    width: 100vw;
    height: 34.25vw;
  }
  .smallAlonePhoto {
    width: 80vw;
    height: 82.05vw;
  }
  .studentDatacontainer {
    width: 80vw;
  }

  .professorDatacontainer {
    width: 80vw;
  }

  .directorTextContainer {
    padding: 24px;
  }

  .eventSpace {
    width: 80vw;
    max-width: unset;
    min-width: unset;
  }

  .directorPhotoContainer {
    width: 80vw;
    height: 90vw;
  }

  .searchConrols {
    max-width: unset;
    min-width: unset;
    width: 80vw;
  }

  footer {
    overflow: hidden;
    width: 100vw;
    height: fit-content;
    padding-top: 30px;
  }

  #footerContent {
    flex-direction: column;
    gap: 30px;
  }

  .contactDiv {
    gap: 26px;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .contact {
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
  }

  .oneStudentSpaceTitle {
    font-size: 18px;
    line-height: 22px;
  }

  #maps {
    height: 300px;
  }

  .oneStudentSpaceHeader {
    display: block;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .classPhotoContainer {
    position: relative;
    right: 10vw;
    width: 100vw;
    height: 34.25vw;
  }

  .smallAlonePhoto {
    width: 39vw;
    height: 40vw;
  }
  .studentDatacontainer {
    width: 39vw;
    height: 175px;
  }

  .professorDatacontainer {
    width: 39vw;
  }

  .directorTextContainer {
    padding: 24px;
  }

  .directorSpace {
    justify-content: flex-end;
  }

  .eventSpace {
    width: 80vw;
    max-width: unset;
    /* min-width: unset; */
  }

  .directorPhotoContainer {
    width: 80vw;
    height: 90vw;
  }

  #searchForm {
    justify-content: space-between;
  }
  .searchConrols {
    max-width: unset;
    min-width: unset;
    width: 39vw;
  }

  #cleanSearchButton {
    width: 39vw;
  }

  footer {
    overflow: hidden;
    width: 100vw;
    height: fit-content;
    padding-top: 30px;
  }

  #footerContent {
    /* flex-direction: column; */
    gap: 30px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contactDiv {
    gap: 26px;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .contact {
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    width: 250px;
  }

  .oneStudentSpaceTitle {
    font-size: 18px;
    line-height: 22px;
  }

  #maps {
    height: 300px;
  }

  .oneStudentSpaceHeader {
    display: block;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .classPhotoContainer {
    position: relative;
    right: 10vw;
    width: 100vw;
    height: 34.25vw;
  }

  .smallAlonePhoto {
    width: 39vw;
    height: 40vw;
  }
  .studentDatacontainer {
    width: 39vw;
    height: 175px;
  }

  .professorDatacontainer {
    width: 39vw;
  }

  .directorTextContainer {
    padding: 24px;
  }

  .directorSpace {
    justify-content: flex-end;
  }

  .eventSpace {
    width: 80vw;
    max-width: unset;
    /* min-width: unset; */
  }

  .directorPhotoContainer {
    width: 80vw;
    height: 90vw;
  }

  #searchForm {
    justify-content: space-between;
  }

  .searchConrols {
    max-width: unset;
    min-width: unset;
    width: 39vw;
  }

  #cleanSearchButton {
    width: 39vw;
  }

  footer {
    overflow: hidden;
    width: 100vw;
    height: fit-content;
    padding-top: 30px;
  }

  #footerContent {
    /* flex-direction: column; */
    gap: 30px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contactDiv {
    gap: 26px;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .contact {
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    width: 250px;
  }

  .oneStudentSpaceTitle {
    font-size: 18px;
    line-height: 22px;
  }

  #maps {
    height: 300px;
  }

  .oneStudentSpaceHeader {
    display: block;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .classPhotoContainer {
    position: relative;
    right: 10vw;
    width: 100vw;
    height: 34.25vw;
  }

  .eventSpace {
    width: 80vw;
    flex: unset;
    width: 39vw;
    max-width: unset;
    min-width: unset;
  }
}

@media (min-width: 1201px) {
  .directorSpace {
    justify-content: space-between;
  }

  .directorTextContainer {
    max-width: unset;
  }

  .withFavorite {
    display: flex;
    justify-content: flex-end;
    align-items: start;
  }

  .favoriteIcon {
    stroke: white;
    fill: blue;
    stroke-width: 2px;
    width: 40px;
  }
}
