<div *ngIf="approvalType == 'users'" class="sectionBoxes">
  <app-users-approves [permissions]="permissions"></app-users-approves>
</div>

<div *ngIf="approvalType == 'students' && !selectedOne" class="sectionDataList">
  <app-student-to-approve
    *ngIf="permissions.docente || permissions.administrador"
    [permissions]="permissions"
    (selectOne)="onStudentSelected()"
    (seeAll)="onSeeAllSelected()"
  ></app-student-to-approve>
</div>
<div *ngIf="approvalType == 'students' && selectedOne" class="sectionBoxes">
  <app-one-student-to-approve
    *ngIf="permissions.docente || permissions.administrador"
    [permissions]="permissions"
    (selectOne)="onStudentSelected()"
    (seeAll)="onSeeAllSelected()"
  ></app-one-student-to-approve>
</div>
