<section
  #sectionBox
  [ngClass]="{ smallSectionBox: !showBox, sectionBox: showBox }"
>
  <div class="boxHead">
    <span class="headField" (click)="showBox = !showBox">
      <img
        #expandIcon
        class="seeMoreIcon"
        [ngClass]="{ rotatedClock: showBox }"
        id="seeMoreIconFormations"
        src="assets/icons/seeMoreIcon.png"
        alt="Expandir"
      />
      <p class="sectionTitle1">{{ title }}</p>
    </span>

    <button
      #addIcon
      [ngClass]="{ hidden: !showBox || allRegistries.length > 1 }"
      (click)="showForm = true"
    >
      Adicionar nova ordenação
    </button>
  </div>
  <section class="formCreationWrapper" *ngIf="showForm">
    <app-creation-form (save)="createRegistry()">
      <div class="subSection">
        <label>
          Nome da ordenação:
          <select
            class="smallInput"
            name="job"
            [(ngModel)]="createRegistryData.ordination_name"
          >
            <option *ngFor="let type of types" [value]="type">
              {{ type }}
            </option>
          </select>
        </label>
        <label>
          Local da ordenação
          <input
            type="text"
            name="place"
            [(ngModel)]="createRegistryData.place"
          />
        </label>
      </div>
      <div class="subSection">
        <label>
          Ano da ordenação
          <input
            type="text"
            name="pasEclBeginDate"
            [(ngModel)]="createRegistryData.year"
          />
        </label>
      </div>
    </app-creation-form>
  </section>
  <section class="registriesWrapper">
    <app-update-form
      [registryId]="i"
      (editRegistry)="editRegistry(i, $event.saveButtonId)"
      (deleteRegistry)="deleteRegistry(registry.ordination_id)"
      *ngFor="let registry of allRegistries; index as i"
      [ngClass]="{
        approved: registry.ordination_approved,
        unapproved: registry.ordination_approved === false
      }"
    >
      <div class="subSection">
        <label>
          Nome da ordenação:
          <input
            type="text"
            name="job"
            [(ngModel)]="registry.ordination_name"
            readonly
          />
        </label>
        <label>
          Local da ordenação
          <input type="text" name="place" [(ngModel)]="registry.place" />
        </label>
      </div>
      <div class="subSection">
        <label>
          Ano da ordenação
          <input
            type="text"
            name="pasEclBeginDate"
            [(ngModel)]="registry.year"
          />
        </label>
      </div>
    </app-update-form>
  </section>
</section>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeError()"
  />
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{ doneMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeDone()"
  />
</div>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>
