<section
  #sectionBox
  [ngClass]="{ smallSectionBox: !showBox, sectionBox: showBox }"
>
  <div class="boxHead">
    <span class="headField" (click)="showBox = !showBox">
      <img
        #expandIcon
        class="seeMoreIcon"
        [ngClass]="{ rotatedClock: showBox }"
        id="seeMoreIconFormations"
        src="assets/icons/seeMoreIcon.png"
        alt="Expandir"
      />
      <p class="sectionTitle1">{{ title }}</p>
    </span>
  </div>
  <section class="formCreationWrapper">
    <app-creation-form (save)="createRegistry(0)">
      <div class="subSection">
        <label>
          Fotos dos formandos
          <p class="formInstruction">
            Os arquivos de foto selecionados devem conter nomes no seguinte
            formato: CPF + tipo de foto.
          </p>
          <p class="formInstruction">
            O CPF deve ser uma sequencia de 11 dígitos sem pontos ou traços.
          </p>
          <p class="formInstruction">
            O tipo de foto deve ser uma das seguintes opções:
            <strong>alone_photo</strong>, <strong>small_alone_photo</strong>,
            <strong>family_photo</strong>,
            <strong>other_family_photo</strong> ou
            <strong>invite_photo</strong>.
          </p>
          <p class="formInstruction">
            Os nomes devem, então, apresentar o seguinte aspecto:
            12345678901alone_photo ou 98765432198family_photo.
          </p>
          <input
            type="file"
            name="smallAlonePhoto"
            id="smallAlonePhoto"
            multiple
            (change)="onFilesSelected($event)"
          />
        </label>
      </div>
    </app-creation-form>
  </section>

  <div *ngIf="error" class="error">
    <div class="errorTitle">
      <p>Atenção</p>
    </div>
    <div class="errorMessage">
      <p>{{ errorMessage }}</p>
    </div>
    <img
      class="closeIcon"
      src="assets/icons/closeIcon.png"
      alt="Fechar"
      (click)="closeError()"
    />
  </div>
  <div *ngIf="done" class="done">
    <div class="doneTitle">
      <p>Parabéns</p>
    </div>
    <div class="doneMessage">
      <p>{{ doneMessage }}</p>
    </div>
    <img
      class="closeIcon"
      src="assets/icons/closeIcon.png"
      alt="Fechar"
      (click)="closeDone()"
    />
  </div>

  <div *ngIf="isLoading" class="loader1"></div>
  <div *ngIf="isLoading" class="loader2"></div>
</section>
