<img
  src="assets/icons/change.svg"
  alt=""
  (click)="showForm()"
  class="changIcon"
/>
<div *ngIf="show" class="modalVancancy subSection">
  <form action="" class="changeHiringForm">
    <label
      >Novo Status de contratação
      <select name="statusSelect" id="statusSelect" [(ngModel)]="status">
        <option
          *ngFor="let stat of hiringStatus"
          [value]="stat.hiring_status_id"
        >
          {{ stat.hiring_status_name }}
        </option>
      </select>
    </label>
    <label for=""
      >Associação
      <select
        name="associationSelect"
        id="associationSelect"
        [(ngModel)]="association"
      >
        <option
          *ngFor="let assoc of associations"
          [value]="assoc.association_id"
        >
          {{ assoc.association_name }}
        </option>
      </select></label
    >

    <button type="button" (click)="createDirectVacancy()">Salvar</button>
  </form>
</div>
<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeError()"
  />
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{ doneMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeDone()"
  />
</div>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>
