.withFavorite {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.sSmallAlonePhoto {
  width: 130px;
  height: 133px;
  overflow: hidden;
}

.sImageContainer {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sFavoriteIcon {
  stroke: white;
  fill: blue;
  stroke-width: 2px;
  width: 40px;
}

.sStudentDatacontainer {
  width: 130px;
  height: 65px;
  background: #23435f;
  padding: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.sHiringStatusSpace {
  display: flex;
  align-items: center;
}

.sDisponivelIndicator {
  border-radius: 100%;
  background-color: #4edf72;
  width: 6px;
  height: 6px;
}

.sContratadoIndicator {
  border-radius: 100%;
  background-color: #f60e0e;
  width: 6px;
  height: 6px;
}

.sChamadoIndicator {
  border-radius: 100%;
  background-color: #ff7f00;
  width: 6px;
  height: 6px;
}

.sHiringStatusText {
  margin-left: 2px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 7px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.sNominataStudentName {
  margin-top: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.sStudentCompData {
  font-family: 'Poppins';
  font-style: normal;
  margin-top: 3px;
  font-weight: 500;
  font-size: 6px;
  line-height: 9px;
  color: #ffffff;
}

.commentSpace {
  width: 130px;
  height: 100%;
  max-height: 61px;
  background-color: #e1e1e3;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.1px;
}

textarea {
  width: 100%;
  height: 87%;
  resize: none;
  margin: 0;
  padding: 0 3px;
  border: unset;
  box-shadow: unset;
  appearance: none;
  outline: none;
  background-color: #e1e1e3;
  overflow: hidden;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.1px;
  color: #23435f;
}

textarea:focus {
  width: 100%;
  height: 87%;
  resize: none;
  margin: 0;
  padding: 0 1px;
  border: unset;
  box-shadow: unset;
  appearance: none;

  overflow: auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.3px;
  color: #23435f;
}

.saveIcon {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 15px;
  left: 125px;
  transition: ease-in 0.1s all;
}

.saveIcon:hover {
  scale: 1.2;
}

.actions {
  height: 133px;
  min-width: 130px;
  position: relative;
  right: 130px;
  padding: 21px 5px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  background-color: #223a53a6;
}

.inviteIcon {
  width: 34px;
  transition: ease-in 0.1s all;
}

.inviteIcon:hover {
  scale: 1.2;
  rotate: -30deg;
}

.inviteIcon:active {
  scale: 1.35;
  rotate: -45deg;
}

.fixWidth {
  width: 130px;
  overflow: hidden;
}

.inotApproved {
  border: 2px solid rgb(255 255 3);
  box-shadow: 0 0 10px rgb(255 255 3 / 56%);
}

.iunapproved {
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.56);
}

.iapproved {
  border: 2px solid rgb(255, 142, 3);
  box-shadow: 0 0 10px rgba(255, 142, 3, 0.81);
}
