<section
  #sectionBox
  [ngClass]="{ smallSectionBox: !showBox, sectionBox: showBox }"
>
  <div class="boxHead">
    <span class="headField" (click)="showBox = !showBox">
      <img
        #expandIcon
        class="seeMoreIcon"
        [ngClass]="{ rotatedClock: showBox }"
        id="seeMoreIconFormations"
        src="assets/icons/seeMoreIcon.png"
        alt="Expandir"
      />
      <p class="sectionTitle1">{{ title }}</p>
    </span>
  </div>
  <section class="formCreationWrapper">
    <app-creation-form (save)="sendActiveCpfs()">
      <div class="subSection">
        <label>
          Selecione um arquivo de excel contendo o CPF de todos os estudantes
          que devem permancer ativos.
          <input
            type="file"
            name="activCpfsFile"
            id="activCpfsFile"
            (change)="onFileSelected($event)"
          />
        </label>
      </div>
    </app-creation-form>
    <div>
      <h4 class="h4Title">Estudantes ativos</h4>
      <div class="activeStudentsList">
        <span class="studentNameAndCpf" *ngFor="let student of activeStudents">
          <div class="dataContent">
            <p>{{ student?.name }}</p>
          </div>
          <div class="dataContent">
            <p>{{ formatarCPF(student?.cpf) }}</p>
          </div>
        </span>
      </div>
    </div>
  </section>

  <div *ngIf="error" class="error">
    <div class="errorTitle">
      <p>Atenção</p>
    </div>
    <div class="errorMessage">
      <p>{{ errorMessage }}</p>
    </div>
    <img
      class="closeIcon"
      src="assets/icons/closeIcon.png"
      alt="Fechar"
      (click)="closeError()"
    />
  </div>
  <div *ngIf="done" class="done">
    <div class="doneTitle">
      <p>Parabéns</p>
    </div>
    <div class="doneMessage">
      <p>{{ doneMessage }}</p>
    </div>
    <img
      class="closeIcon"
      src="assets/icons/closeIcon.png"
      alt="Fechar"
      (click)="closeDone()"
    />
  </div>

  <div *ngIf="isLoading">
    <div class="loader1"></div>
    <div class="loader2"></div>
  </div>
</section>
