<ul class="titlesRow">
    <li class="titleText" id="categoryNameTitle">Nome da categoria</li>
    <li class="titleText" id="categoryDescriptionTitle">Descrição</li>

</ul>

<div class="content" >
    <img src="assets/icons/plusIcon.svg" class="actionIcon" alt="" (click)="createItemCategoryModal()">
    <div *ngFor="let itemCategory of itensCategory" class="listItem">
      <p class="listItemText" id="categoryName">{{itemCategory.category_name}}</p>
      <p class="listItemText" id="categoryDescription">{{itemCategory.category_description}}</p>
    </div>

    <div *ngIf="creatingItemCategory.active" class="modalContainer">
        <div class="fadeGray"></div>
        <div class="modal">
            
    
          <label class="inputLabel" for="personSelect">Nome da categoria
            <input class="mediumInput" type="text" [(ngModel)]="newitemCategory.categoryName">
          </label>

          <label class="inputLabel" for="personSelect">Descrição da categoria
            <input class="largeInput" type="text" [(ngModel)]="newitemCategory.categoryDescription">
          </label>

            <div class="formLine">
              <button class="saveButton" type="submit" (click)="createItemCategory()">Salvar</button>
              <button class="cancelButton" type="submit" (click)="destroyItemCategoryModal()">Cancelar</button>
            </div>

        </div>
    </div>
  </div>
