<div class="loginMenu">
  <button
    *ngIf="
      permissions.secretaria ||
      permissions.direcao ||
      permissions.administrador ||
      permissions.ministerial
    "
    class="loginMenuButton defaultButton"
    (click)="choseUsers()"
  >
    Usuários
  </button>
  <button class="loginMenuButton defaultButton" (click)="choseStudents()">
    Estudantes
  </button>
  <button
    *ngIf="
      permissions.ministerial ||
      permissions.direcao ||
      permissions.administrador
    "
    class="loginMenuButton defaultButton"
    (click)="choseRepresentations()"
  >
    Representantes de campo
  </button>
  <button
    *ngIf="
      permissions.ministerial ||
      permissions.direcao ||
      permissions.administrador
    "
    class="loginMenuButton defaultButton"
    (click)="choseInvites()"
  >
    Convites
  </button>
</div>
