<section
  #sectionBox
  [ngClass]="{ smallSectionBox: !showBox, sectionBox: showBox }"
>
  <div class="boxHead">
    <span class="headField" (click)="showBox = !showBox">
      <img
        #expandIcon
        class="seeMoreIcon"
        [ngClass]="{ rotatedClock: showBox }"
        id="seeMoreIconFormations"
        src="assets/icons/seeMoreIcon.png"
        alt="Expandir"
      />
      <p class="sectionTitle1">{{ title }}</p>
    </span>

    <img
      #addIcon
      class="addIcon"
      [ngClass]="{ hidden: !showBox }"
      src="assets/icons/addIcon.png"
      alt="Criar {{ title }}"
      (click)="showForm = true"
    />
  </div>
  <section class="formCreationWrapper" *ngIf="showForm">
    <app-creation-form (save)="createRegistry()">
      <label class="inputLabel">
        Novo Status de contratação<input
          class="smallInput"
          type="text"
          name="hiring_statusNameInput"
          [(ngModel)]="createRegistryData.hiring_status_name"
        />
      </label>
      <label class="inputLabel">
        Descrição<input
          class="largeInput"
          type="text"
          name="hiring_statusAcronymInput"
          [(ngModel)]="createRegistryData.hiring_status_description"
        />
      </label>
    </app-creation-form>
  </section>
  <section *ngIf="showBox" class="registriesWrapper">
    <app-update-form
      [registryId]="i"
      (editRegistry)="editRegistry(i, $event.saveButtonId)"
      (deleteRegistry)="deleteRegistry(registry.hiring_status_id)"
      *ngFor="let registry of allRegistries; index as i"
    >
      <span class="field">
        <p class="fieldTitle">Status</p>
        <input
          class="fieldContent"
          [id]="'hiring_statusInput' + i"
          name="`hiring_statusInput${i}`"
          [(ngModel)]="registry.hiring_status_name"
        />
      </span>
      <span class="field">
        <p class="fieldTitle">Descrição:</p>
        <input
          class="fieldContent"
          [id]="'hiring_statusAcronymInput' + i"
          name="`hiring_statusInput${i}`"
          [(ngModel)]="registry.hiring_status_description"
        />
      </span>
    </app-update-form>
  </section>
</section>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeError()"
  />
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{ doneMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeDone()"
  />
</div>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>
