.whiteShadow {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 5;
  background-color: rgba(13, 51, 98, 0.7);
}
.termModal {
  /* position: absolute;
  top: 50%;
  right: 50%;
  translate: 50% -50%; */
  z-index: 2;
  width: 100%;
  max-width: 800px;
  height: 50vh;
  min-height: 300px;
  background-color: white;
  border: solid 4px #0d3362;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.termArea {
  height: 90%;
}

.termTextSection {
  border: solid 2px #0d3362;
  border-radius: 5px;
  height: 95%;
}

.termText {
  background-color: gainsboro;
  padding: 15px;
  text-align: justify;
  height: 100%;
  overflow: scroll;
}

.termForm {
  display: flex;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.termParagraph {
  margin-bottom: 15px;
}
