<ul class="titlesRow">
    <li class="titleText" id="userNameTitle">Nome</li>
    <li class="titleText" id="userEmailTitle">Email</li>
    <li class="titleText" id="userCpfTitle">CPF</li>
    <li class="titleText" id="userRolesTitle">Papéis</li>

</ul>
<div class="content">
    <img src="assets/icons/plusIcon.svg" class="actionIcon" alt="" (click)="createUserModal()">
    <div *ngFor="let user of users" class="listItem">
      <p class="listItemText" id="userName">{{user.first_names}} {{user.surname}} </p>
      <p class="listItemText" id="userEmail">{{user.email}}</p>
      <p class="listItemText" id="userCpf">{{user.cpf}}</p>
      <p class="listItemText" id="userRoles"><span *ngFor="let role of user.roles">{{role.role_name}} </span> </p>
    </div>

    <div *ngIf="creatingUser.active" class="modalContainer">
        <div class="fadeGray"></div>
        <div class="modal">
            
    
          <label class="inputLabel" for="personSelect">Selecione uma pessoa
            <input class="largeInput" type="text"[(ngModel)]="searchedPerson" (focus)="startSearchPerson()" (input)="filterPeople()">
            <div *ngIf="selectedPeople" class="dropDown">
              <p class="dropdDownOption" *ngFor="let person of selectedPeople" id={{person.person_id}} (click)="selectPerson(person.person_id)">
                {{person.first_names}} {{person.surname}}.
              </p>
            </div>
          </label>

          <label>Selecione as permissões:</label>
            <div *ngFor="let role of roles">
              <label>
                <input type="checkbox" name="roles[]" [value]="role.role_id" (change)="onChangeRoles($event)">
                {{role.role_name}}
              </label>
            </div>



          <label for="inputSenha" class="inputLabel">Senha
            <input type="password" class="mediumInput" id="inputSenha" [(ngModel)]="newUser.password">
          </label>
          <label for="inputSenha2" class="inputLabel">Repita a senha
            <input type="password" class="mediumInput" id="inputSenha2" [(ngModel)]="password2">
          </label>
          <label>

          </label>
            <div class="formLine">
              <button class="saveButton" type="submit" (click)="createUser()">Salvar</button>
              <button class="cancelButton" type="submit" (click)="destroyUserModal()">Cancelar</button>
            </div>
            {{newUser.rolesId}}
        </div>
    </div>
</div>