#userNameTitle{
    width: 20vw;
  }
  
  #userEmailTitle{
    width: 15vw;
  }
  
  #userCpfTitle{
    width: 10vw;
  }
  
  #userName{
    width: 20vw;
  }
  
  #userEmail{
    width: 15vw;
  }
  
  #userCpf{
    width: 10vw;
  }