<section
  #sectionBox
  [ngClass]="{ smallSectionBox: !showBox, sectionBox: showBox }"
>
  <div class="boxHead">
    <span class="headField" (click)="toShowBox()">
      <img
        #expandIcon
        class="seeMoreIcon"
        [ngClass]="{ rotatedClock: showBox }"
        id="seeMoreIconFormations"
        src="assets/icons/seeMoreIcon.png"
        alt="Expandir"
      />
      <p class="sectionTitle1">{{ title }}</p>
    </span>
  </div>
  <section class="formCreationWrapper" *ngIf="allRegistries.length < 1">
    <app-creation-form
      (save)="showAlert('create', 'Confirmar a criação deste item?', 0)"
    >
      <div class="subSection">
        <label class="w-full">
          Ministério da Iasd com o qual se identifica (maior prioridade)
          <select
            class="smallInput"
            name="degreeSelect"
            [(ngModel)]="createRegistryData[0].ministry_type_id"
          >
            <option
              *ngFor="let ministrytype of ministryTypeList"
              [value]="ministrytype.ministry_type_id"
              [disabled]="ministrytype.used === true"
              [disabled]="ministrytype.used === true"
            >
              {{ ministrytype.ministry_type_name }}
            </option>
          </select>
        </label>
      </div>
    </app-creation-form>
  </section>
  <section class="formCreationWrapper" *ngIf="allRegistries.length === 1">
    <app-creation-form
      (save)="showAlert('create', 'Confirmar a criação deste item?', 1)"
    >
      <div class="subSection">
        <label class="w-full">
          Ministério da Iasd com o qual se identifica (segunda prioridade)
          <select
            class="smallInput"
            name="degreeSelect"
            [(ngModel)]="createRegistryData[1].ministry_type_id"
          >
            <option
              *ngFor="let ministrytype of ministryTypeList"
              [disabled]="ministrytype.used === true"
              [value]="ministrytype.ministry_type_id"
            >
              {{ ministrytype.ministry_type_name }}
            </option>
          </select>
        </label>
      </div>
    </app-creation-form>
  </section>
  <section class="formCreationWrapper" *ngIf="allRegistries.length === 2">
    <app-creation-form
      (save)="showAlert('create', 'Confirmar a criação deste item?', 2)"
    >
      <div class="subSection">
        <label class="w-full">
          Ministério da Iasd com o qual se identifica (segunda prioridade)
          <select
            class="smallInput"
            name="degreeSelect"
            [(ngModel)]="createRegistryData[2].ministry_type_id"
          >
            <option
              *ngFor="let ministrytype of ministryTypeList"
              [disabled]="ministrytype.used === true"
              [value]="ministrytype.ministry_type_id"
            >
              {{ ministrytype.ministry_type_name }}
            </option>
          </select>
        </label>
      </div>
    </app-creation-form>
  </section>
  <section *ngIf="showBox" class="registriesWrapper">
    <app-update-form
      (editRegistry)="showAlert('edit', 'Confirmar a edição este item?', i)"
      [registryId]="i"
      *ngFor="let registry of allRegistries; index as i"
      [ngClass]="{
        approved: registry.related_ministry_approved,
        unapproved: registry.related_ministry_approved === false
      }"
    >
      <div class="subSection">
        <label class="w-full">
          Ministérios da Iasd com os quais se identifica
          <span *ngIf="i === 0">Prioridade alta</span>
          <span *ngIf="i === 1">Segunda prioridade</span>
          <span *ngIf="i === 2">Terceira prioridade</span>
          <select
            class="smallInput"
            name="degreeSelect"
            [(ngModel)]="registry.ministry_type_id"
          >
            <option
              *ngFor="let ministrytype of ministryTypeList"
              [value]="ministrytype.ministry_type_id"
              [disabled]="
                ministrytype.used === true &&
                registry.ministry_type_id !== ministrytype.ministry_type_id
              "
            >
              {{ ministrytype.ministry_type_name }}
            </option>
          </select>
        </label>
      </div>
    </app-update-form>
  </section>
</section>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeError()"
  />
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{ doneMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeDone()"
  />
</div>

<app-alert-modal
  *ngIf="alert"
  class="alert"
  [alertMessage]="this.alertMessage"
  [func]="this.func"
  (continue)="confirm($event)"
></app-alert-modal>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>
