.loginContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #202C3D 5.58%, #223A52 43.15%, #244C6C 111.37%);;
  width: 100vw;
  height: 100vh;

}

.loginSquare {
width: 531.59px;
height: 640.52px;
align-self: center;
display: flex;
flex-direction: column;
align-items: center;

background: #ffffff;
/* Shadow/Blur 20 */

box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
border-radius: 10px;;

}

.logo{
  margin-top: 90px;
  width: 210.19px;
  margin-bottom: 3vh ;

}

.loginInstruction{
  width: 24vw;

  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #0D3E66;

  margin-bottom: 50px;

}

.loginForm{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginField{
display: flex;
position: relative;
margin-bottom: 20px;
}


.label{
font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #333333;
margin-top: 5px;
}

.inputIcon{
  height: 17px;
  position:absolute;
  right: 2px;
  top: 30px;
  color: #0D3362;
  z-index: 2;
}

#emailInput{
  margin-bottom: 25px;
}

.loginButton{
  margin-top: 60px;
  width: 289px;
  height: 46px;
  padding: 1vh;
  background: #0D3362;
  border-radius: 5px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
  color: #FFFFFF
}
