<section #sectionBox [ngClass]="{ smallSectionBox: !showBox, sectionBox: showBox }">
  <div class="boxHead">
    <span class="headField" (click)="showBox = !showBox">
      <img #expandIcon class="seeMoreIcon" [ngClass]="{ rotatedClock: showBox }" id="seeMoreIconFormations"
        src="assets/icons/seeMoreIcon.png" alt="Expandir" />
      <p class="sectionTitle1">{{ title }}</p>
    </span>

    <img #addIcon class="addIcon" [ngClass]="{ hidden: !showBox }" src="assets/icons/addIcon.png"
      alt="Criar {{ title }}" (click)="showForm = true" />
  </div>
  <section class="formCreationWrapper" *ngIf="showForm">
    <app-creation-form (save)="createRegistry()">
      <label class="inputLabel">
        Nova União<input class="mediumInput" type="text" name="unionNameInput"
          [(ngModel)]="createRegistryData.union_name">
      </label>
      <label class="inputLabel">
        SIGLA<input class="smallInput" type="text" name="unionAcronymInput"
          [(ngModel)]="createRegistryData.union_acronym">
      </label>

    </app-creation-form>
  </section>
  <section class="registriesWrapper">
    <app-update-form [registryId]="i" (editRegistry)="editRegistry(i, $event.saveButtonId)"
      (deleteRegistry)="deleteRegistry(registry.union_id)" *ngFor="let registry of allRegistries; index as i">
      <span class="field">
        <p class="fieldTitle">União:</p>
        <input class="fieldContent" [id]="'unionInput'+i" name=`unionInput${i}` [(ngModel)]="registry.union_name">
      </span>
      <span class="field">
        <p class="fieldTitle">Sigla:</p>
        <input class="fieldContent" [id]="'unionAcronymInput'+i" name=`unionInput${i}`
          [(ngModel)]="registry.union_acronym">
      </span>

    </app-update-form>
  </section>
</section>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <img class="closeIcon" src="assets/icons/closeIcon.png" alt="Fechar" (click)="closeError()" />
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{ doneMessage }}</p>
  </div>
  <img class="closeIcon" src="assets/icons/closeIcon.png" alt="Fechar" (click)="closeDone()" />
</div>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>