<section *ngIf="permissions.secretaria || permissions.administrador" class="smallSectionBox" id="boxHeadUnions">
  <div class="boxHead">
    <span class="headField" (click)="showBox()">
      <img class="seeMoreIcon" id="seeMoreIconUnions" src="assets/icons/seeMoreIcon.png" alt="">
      <p class="sectionTitle1">Uniões</p>
    </span>
    <img class="addIcon hidden" id="unionAddIcon" src="assets/icons/addIcon.png" alt="Criar nova união"
      (click)="createForm()">
  </div>
  <section>
    <form *ngIf="creatingUnion" class="formCreation">
      <label class="inputLabel">
        Nova União<input class="mediumInput" type="text" name="unionNameInput" [(ngModel)]="createUnionData.union_name">
      </label>
      <label class="inputLabel">
        SIGLA<input class="smallInput" type="text" name="unionAcronymInput" [(ngModel)]="createUnionData.union_acronym">
      </label>
      <button class="saveButton" type="button" (click)="createUnion()">SALVAR</button>
    </form>
    <app-registry #registryApp [registryId]="i" (editRegistry)="editUnion($event.id, $event.saveButtonId)"
      (deleteRegistry)="deleteUnion($event)" *ngFor="let registry of allUnions; index as i;">
      <span class="field">
        <p class="fieldTitle">União:</p>
        <input class="fieldContent" [id]="'unionInput'+i" name=`unionInput${i}` [(ngModel)]="allUnions[i].union_name">
      </span>
      <span class="field">
        <p class="fieldTitle">Sigla:</p>
        <input class="fieldContent" [id]="'unionAcronymInput'+i" name=`unionInput${i}`
          [(ngModel)]="allUnions[i].union_acronym">
      </span>

    </app-registry>
  </section>
</section>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{errorMessage}}</p>
  </div>
  <img class="closeIcon" src="assets/icons/closeIcon.png" alt="Fechar" (click)="closeError()">
</div>

<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{doneMessage}}</p>
  </div>
  <img class="closeIcon" src="assets/icons/closeIcon.png" alt="Fechar" (click)="closeDone()">
</div>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>