.mediumInput{
  width: 35vw;
  height: 35px;
  border: 0.7px solid rgba(0, 0, 0, 0.54);
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}
