<div id="inviteContainer">
  <img src="assets/icons/graduationSquare.svg" id="graduationSquare" alt="" />
  <img src="assets/img/faamaLogo.png" id="faamaLogo" alt="logo da FAAMA" />
  <div id="inviteHeader">
    <div id="inviteTitle">
      <p id="inviteTitleText">104ª Turma de Teologia</p>
    </div>
    <section id="infortions">
      <div>
        <div>frase da bíblia</div>
        <div>Convite</div>
      </div>
      <div>
        <div>evento 1</div>
        <div>evento 2</div>
      </div>
    </section>
  </div>
  <div id="invitePhoto"></div>
</div>
