#inviteContainer {
  width: 290mm;
  height: 210mm;
  padding: 2.63mm;
  background: linear-gradient(to bottom, #debc50, #fef6b8, #debc50);
}

#inviteHeader {
  height: 88mm;
  width: 284.72mm;
  background: var(
    --01,
    linear-gradient(180deg, #202c3d 5.58%, #223a52 43.15%, #244c6c 111.37%)
  );
}

#graduationSquare {
  width: 108px;
  height: 121px;
  position: absolute;
  left: 28mm;
}

#faamaLogo {
  width: 92px;
  position: absolute;
  left: 30.2mm;
  top: 10mm;
}

#inviteTitle {
  font-size: 64px;
  font-family: Monotype Corsiva;
  font-weight: 400;
  word-wrap: break-word;
}
