* {
  box-sizing: border-box;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}

.relative {
  position: static;
}

.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.flex {
  display: flex;
}
.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.flex-grow {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}

.gap-2 {
  gap: 2rem;
}

.grow-0 {
  flex-grow: 0 !important;
}

.wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-row {
  flex-direction: row;
}

.px-4 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.specialInput {
  width: 289px;
  height: 3vh;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.44);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 5px;
  padding-left: 0.5vw;
}

.showInput {
  width: 100% !important;
  padding: 0.5rem 1rem !important;
  margin: 4px 0 !important;
  background: #ffffff !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 5px !important;
  border: 1.5px solid #dcdada !important;

  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 18px !important;

  color: #23435f !important;
}

input:focus {
  outline: none;
}

.registriesWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.registryWrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 40px;
  gap: 1rem;
  padding: 1rem 1rem 2rem;
  border-bottom: solid rgba(113, 112, 112, 0.16) 2px;
}

.formCreationWrapper {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: rgba(0, 0, 0, 0.3) dashed 1px;
}

.formCreation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.formCreation > label,
.formCreation > span {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.54);
}

.formCreation .subSection {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.54);
}

.formCreation input,
.formCreation select {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 4px 0;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 1.5px solid #dcdada;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #23435f;
}

.searchInput {
  width: 100%;
  padding: 0.5rem 1rem;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 1.5px solid #dcdada;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #23435f;
}

.formCreation input[type='checkbox'] {
  padding: unset;
  background: unset;
  box-shadow: unset;
  border: unset;
}

form.registryWrapper label,
form.registryWrapper span,
form.registryWrapper p {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #23435f;
}

.inputLabel {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #23435f;
}

form.registryWrapper input,
form.registryWrapper select {
  padding: 0;
  margin: 0;
  box-shadow: unset;
  border: unset;
  appearance: none;
  outline: none;
}

form.registryWrapper input:focus,
form.registryWrapper select:focus {
  padding: 0.5rem 1rem;
  margin: 4px 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 1.5px solid #dcdada;
  appearance: auto;
}

form.registryWrapper input[type='checkbox'],
form.registryWrapper input[type='checkbox']:focus {
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  appearance: auto;
}

.subSection {
  display: flex;
  gap: 2rem;
  width: 100%;
}
.subSectionSpousePhoto {
  display: flex;
  gap: 2rem;
}

.subSection label,
.subSection span {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 640px) {
  .subSection {
    flex-wrap: wrap;
  }
}

.checkboxLabel {
  text-align: center;
}

button {
  background-color: #0d3362;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.cancelButton {
  background: #a51010;
}

.confirmButton {
  background-color: #0d3362;
}

.defaultButton {
  background-color: #0d3362;
}

button:active {
  box-shadow: none;
  transform: translate(1px, 2px);
}

.content {
  background: #f7f7f7;
  border-radius: 10px;
  width: 76vw;
  height: 74vh;
  margin-left: 3.5vw;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  padding-top: 1vw;
  overflow: scroll;
}

.listItem {
  box-sizing: border-box;
  background: #f7f7f7;
  box-shadow: 0px 5px 4px rgba(164, 163, 163, 0.65);
  border-radius: 10px;
  width: 73vw;
  margin-left: 1.7vw;
  padding: 2vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}

.listItemText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.54);
}

.titlesRow {
  display: flex;
  gap: 1vw;
  margin: 0 0 0.5vh 3.2vw;
}

.titleText {
  list-style-type: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* Creme 01 */

  color: #f0efef;
}

.actionIcon {
  width: 2.1vw;
  align-self: flex-end;
}

.modalContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fadeGray {
  background-color: gray;
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-color: whitesmoke;
  opacity: 1;
  padding: 3vh;
  z-index: 1;

  background: #ffffff;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.formLine {
  display: flex;
  gap: 3vw;
  justify-content: space-between;
}

.dropDown {
  position: fixed;
  z-index: 2;
  background: #f7f7f7;
  border: 0.177454px solid #696d7b;
  border-bottom: none;
  border-radius: 2px 2px 0px 0px;
}

.dropdDownOption {
  border-bottom: 0.177454px solid #696d7b;
  border-radius: 2px 2px 0px 0px;

  width: 62vw;
  height: 35px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: start;
  color: rgba(0, 0, 0, 0.54);
  padding-left: 0.5vw;
}

.error {
  box-sizing: border-box;
  position: fixed;
  width: 395.63px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  background: #ffffff;
  border: 0.936385px solid #53555f;
  border-radius: 6.66045px;
}

.errorTitle {
  width: 395.59px;
  height: 46.48px;
  background: #f60e0e;
  border-radius: 6.66045px 6.66045px 0px 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.118192px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.errorMessage {
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 6.66045px;
  border: none;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;

  text-align: center;
  letter-spacing: 0.118192px;

  color: #35353f;

  padding: 10px;
}

.done {
  box-sizing: border-box;
  position: fixed;
  width: 395.63px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: #f4f4f4;
  box-shadow: 0px 9.06876px 9.06876px rgba(0, 0, 0, 0.25);
  border: 0.236385px solid #696d7b;
}

.doneTitle {
  width: 395.59px;
  height: 46.48px;
  background: green;
  border-radius: 6.66045px 6.66045px 0px 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.118192px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.doneMessage {
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 6.66045px;
  border: none;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;

  text-align: center;
  letter-spacing: 0.118192px;

  color: #35353f;

  padding: 10px;
}

.closeIcon {
  height: 17px;
  position: absolute;
  right: 11px;
  top: 16px;
  z-index: 3;
}

.addIcon {
  height: 17px;
  transition: transform 0.2s ease-in-out;
}

.addIcon:hover {
  transform: scale(1.5);
}

.iconButton {
  height: 17px;
  transition: transform 0.2s ease-in-out;
  stroke: red;
}

.iconButton:hover {
  transform: scale(1.5);
}

.seeMoreIcon {
  height: 17px;
  transition: transform 0.2s ease-in-out;
  transform: rotate(-90deg);
}

.seeMoreIcon:hover {
  transform: scale(1.5);
}

.rotatedClock {
  transform: rotate(0deg);
}

.rotatedClock:hover {
  transform: scale(1.5) rotate(-90deg);
}

.sectionBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
}

.sectionDataList {
  min-height: 85vh;
  margin: 0px 165px 0px 165px;
}

.smallSectionBox {
  width: 80vw;
  height: calc(36px + 56px);
  max-width: 833.71px;
  background: #ffffff;
  box-shadow: 0px 5px 4px rgba(164, 163, 163, 0.65);
  border-radius: 10px;
  padding: 28px;
  margin-bottom: 12px;
  transition: height 5s ease;
  overflow: hidden;
}

.sectionBox {
  width: 80vw;
  max-width: 833.71px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 28px;
  margin-bottom: 12px;
  transition: height 5s ease;
}

.sectionBoxAll {
  width: 80vw;
  max-width: 1450.71px;
  background: transparent;
  margin-bottom: 12px;
  transition: height 5s ease;
}

.boxHead {
  margin-bottom: 1rem;
}

.boxMain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.headField {
  display: flex;
  align-items: center;
  gap: 7px;
}

.sectionTitle1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #23435f;
  margin-bottom: 1rem;
}

.fieldTitle {
  margin-bottom: 13.5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #23435f;
}

.weightFieldTitle {
  margin-bottom: 13.5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #23435f;
}

.formSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}

.formSearch {
  display: flex;
  align-items: end;
  margin-top: 35px;
  gap: 10px;
}

.registryStartButtons {
  display: flex;
  flex-shrink: 0;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.registryEndButtons {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.registryStartButtons button,
.registryEndButtons button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: unset;
  cursor: pointer;
}

.approvedRadio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #ccc;
  transition: transform 0.3s ease;
  margin: 0;
  margin-right: 5px;
}

/* Estilização dos botões de rádio quando selecionados */
.approvedRadio:checked {
  transform: scale(1.2);
  border-color: green;
}

.rejectedRadio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #ccc;
  transition: transform 0.3s ease;
  margin: 0;
  margin-right: 5px;
}

/* Estilização dos botões de rádio quando selecionados */
.rejectedRadio:checked {
  transform: scale(1.2);
  border-color: red;
}

.labelRadio {
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 18px;

  /* Preto 01 */

  color: #0d3362;
}

.sectionDivisiion {
  background: rgba(113, 112, 112, 0.16);
  border: none;
  border-top: rgba(113, 112, 112, 0.16) solid 2.09px;
}

.loader1 {
  border: 16px solid transparent;
  border-top: 16px solid #0d3e66;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  z-index: 9999;
}

.loader2 {
  border: 16px solid transparent;
  border-top: 16px dotted #12548a;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  z-index: 9998;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.setted {
  background-color: #23435f;
}

.hidden {
  display: none;
}

.smallAlonePhoto {
  width: 260.85px;
  height: 266.96px;
  overflow: hidden;
}

.studentDatacontainer {
  width: 260.85px;
  height: 183.88px;
  background: #23435f;
  padding: 16.5px;
  box-shadow: 0px 4.01028px 4.01028px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.imageContainer {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.imageModel {
  opacity: 50%;
}

.studentName {
  margin-top: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: #ffffff;
}

.perfilList {
  margin-top: 17px;
  display: flex;
  gap: 1.8vw;
  flex-wrap: wrap;
}

.hiringStatus {
  display: flex;
  gap: 4px;
  align-items: center;
}

.hiringColor {
  width: 12px;
  height: 12px;
  left: 0px;
  top: 0px;
  background: #f60e0e;
  border-radius: 100%;
}

.hiringDescription {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.25px;
  color: #ffffff;
}

.studentCompData {
  font-family: 'Poppins';
  font-style: normal;
  margin-top: 7px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.fieldContent {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #23435f;
}
.wWeight {
  font-weight: 600;
}

.field {
  margin-bottom: 13.5px;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.alonePhoto {
  width: 796.94px;
  height: 465.93px;
  overflow: hidden;
}

.spousePhoto {
  width: 314px;
  height: 422.05px;
  overflow: hidden;
}

.familyPhoto {
  width: 796.94px;
  height: 465.93px;
  overflow: hidden;
}

.formInstruction {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: rgba(40, 35, 35, 0.54);
}

.approved {
  background-color: #a9d1a6;
  padding: 5px;
  border-radius: 10px;
}

.unapproved {
  background-color: #d5adad;
  padding: 5px;
  border-radius: 10px;
}

.notRated {
  background-color: #d5d2ad;
  padding: 5px;
  border-radius: 10px;
}

.sidePhotoField {
  width: 55%;
}

.seeAllButton {
  position: fixed;
  top: 110px;
  left: 28px;
}
