<form class="registryWrapper" (submit)="editRegistry.emit({id: registryId, saveButtonId: saveButton.id})">
  <section class="formCreation">
    <ng-content></ng-content>
  </section>
  <section class="registryEndButtons">
    <button type="submit">
      <img #saveButton class="iconButton" src="assets/icons/saveIcon.svg" alt="ícone para salvar registro">
    </button>
    <button type="button">
      <img #deleteButton class="iconButton" src="assets/icons/delete.svg" alt="ícone para deletar registro"
        (click)="deleteRegistry.emit(registryId)">
    </button>
  </section>
</form>