.alonePhoto {
  width: 50vw;

  overflow: hidden;
}

.imageContainer {
  width: 50vw;
  height: 16.66vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.imageModel {
  opacity: 50%;
}

.classPhotoContainer {
  width: 50vw;
  height: 16.66vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.deleteIcon {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 30px;
}
