<!-- <div class="pdfContainer" #pdfContainer>
  <div class="pdfAlonePhotoContainer">
    <div
      class="pdfAlonePhoto"
      [ngStyle]="{ 'background-image': 'url(' + alonePhoto + ')' }"
    ></div>
  </div>

  <div
    *ngIf="student.student"
    class="pdfPage"
    #pdfPage
    style="background-image: url('assets/img/capturac.png')"
  >
    <p>{{ student.student.person_name }}</p>
    <p>
      {{ student.student.association_name }} -
      {{ student.student.union_acronym }}
    </p>
    <p>
      {{ formatDate(student.student.birth_date) }}
    </p>
    <p>{{ formateAge(student.student.birth_date) }} anos</p>
    <p>{{ student.student.marital_status_type_name }} anos</p>
    <p>{{ student.student.birth_city }}-{{ student.student.birth_state }}</p>
    <p>{{ formatarTelefone(student.student.phone_number) }}</p>
    <p>{{ student.student.alternative_email }}</p>
  </div>
  <div class="pdfPage">Essa é a segunda página do pdf</div>
  <div class="pdfPage">Essa é a segunda página do pdf</div>
  <div class="pdfPage">Essa é a segunda página do pdf</div>
  <div class="pdfPage">Essa é a segunda página do pdf</div>
</div>

<button (click)="printPDF()">Baixar PDF</button> -->
