<section
  #sectionBox
  [ngClass]="{ smallSectionBox: !showBox, sectionBox: showBox }"
>
  <div class="boxHead">
    <span class="headField" (click)="showBox = !showBox">
      <img
        #expandIcon
        class="seeMoreIcon"
        [ngClass]="{ rotatedClock: showBox }"
        id="seeMoreIconFormations"
        src="assets/icons/seeMoreIcon.png"
        alt="Expandir"
      />
      <p class="sectionTitle1">{{ title }}</p>
    </span>

    <img
      #addIcon
      class="addIcon"
      [ngClass]="{ hidden: !showBox }"
      src="assets/icons/addIcon.png"
      alt="Criar {{ title }}"
      (click)="showForm = true"
    />
  </div>
  <section class="formCreationWrapper" *ngIf="showForm">
    <app-creation-form (save)="createRegistry()">
      <label class="w-full">
        Linguagem
        <select
          class="smallInput"
          name="degreeSelect"
          [(ngModel)]="createRegistryData.chosen_language"
        >
          <option
            *ngFor="let languageType of languageTypeList"
            [value]="languageType.language_id"
          >
            {{ languageType.language }}
          </option>
        </select>
      </label>
      <label class="checkboxLabel">
        Ler
        <input
          type="checkbox"
          name="create-read"
          [(ngModel)]="createRegistryData.read"
        />
      </label>
      <label class="checkboxLabel">
        Ouvir
        <input
          type="checkbox"
          name="create-understand"
          [(ngModel)]="createRegistryData.understand"
        />
      </label>
      <label class="checkboxLabel">
        Falar
        <input
          type="checkbox"
          name="create-speak"
          [(ngModel)]="createRegistryData.speak"
        />
      </label>
      <label class="checkboxLabel">
        Escrever
        <input
          type="checkbox"
          name="create-write"
          [(ngModel)]="createRegistryData.write"
        />
      </label>
      <label class="checkboxLabel">
        Fluência
        <input
          type="checkbox"
          name="create-fluent"
          [(ngModel)]="createRegistryData.fluent"
        />
      </label>
      <label class="checkboxLabel">
        Desconhece
        <input
          type="checkbox"
          name="create-unknown"
          [(ngModel)]="createRegistryData.unknown"
        />
      </label>
    </app-creation-form>
  </section>
  <section class="registriesWrapper">
    <app-update-form
      [registryId]="i"
      (editRegistry)="editRegistry(i, $event.saveButtonId)"
      (deleteRegistry)="deleteRegistry(registry.language_id)"
      *ngFor="let registry of allRegistries; index as i"
    >
      <label class="w-full">
        Linguagem
        <select
          class="smallInput"
          name="degreeSelect"
          [(ngModel)]="registry.chosen_language"
        >
          <option
            *ngFor="let languageType of languageTypeList"
            [value]="languageType.language_id"
          >
            {{ languageType.language }}
          </option>
        </select>
      </label>
      <label class="checkboxLabel">
        Ler
        <input type="checkbox" name="create-read" [(ngModel)]="registry.read" />
      </label>
      <label class="checkboxLabel">
        Ouvir
        <input
          type="checkbox"
          name="create-understand"
          [(ngModel)]="registry.understand"
        />
      </label>
      <label class="checkboxLabel">
        Falar
        <input
          type="checkbox"
          name="create-speak"
          [(ngModel)]="registry.speak"
        />
      </label>
      <label class="checkboxLabel">
        Escrever
        <input
          type="checkbox"
          name="create-write"
          [(ngModel)]="registry.write"
        />
      </label>
      <label class="checkboxLabel">
        Fluência
        <input
          type="checkbox"
          name="create-fluent"
          [(ngModel)]="registry.fluent"
        />
      </label>
      <label class="checkboxLabel">
        Desconhece
        <input
          type="checkbox"
          name="create-unknown"
          [(ngModel)]="registry.unknown"
        />
      </label>
    </app-update-form>
  </section>
</section>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeError()"
  />
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{ doneMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeDone()"
  />
</div>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>
