<section #sectionBox [ngClass]="{ smallSectionBox: !showBox, sectionBox: showBox }">
  <div class="boxHead">
    <span class="headField" (click)="showBox = !showBox">
      <img #expandIcon class="seeMoreIcon" [ngClass]="{ rotatedClock: showBox }" id="seeMoreIconFormations"
        src="assets/icons/seeMoreIcon.png" alt="Expandir" />
      <p class="sectionTitle1">{{ title }}</p>
    </span>

    <img #addIcon class="addIcon" [ngClass]="{ hidden: !showBox }" src="assets/icons/addIcon.png"
      alt="Criar {{ title }}" (click)="showForm = true" />
  </div>
  <section class="formCreationWrapper" *ngIf="showForm">
    <app-creation-form (save)="createRegistry()">
      <label class="inputLabel">
        Nova Associação<input class="mediumInput" type="text" name="associationNameInput"
          [(ngModel)]="createRegistryData.association_name">
      </label>
      <label class="inputLabel">
        Sigla<input class="smallInput" type="text" name="associationAcronymInput"
          [(ngModel)]="createRegistryData.association_acronym">
      </label>
      <label class="inputLabel">
        União
        <select class="smallInput" name="unionSelect" [(ngModel)]="createRegistryData.union_id">
          <option *ngFor="let union of allUnions" [value]=union.union_id>{{union.union_acronym}} -
            {{union.union_name}}</option>
        </select>
      </label>
    </app-creation-form>
  </section>
  <section class="registriesWrapper">
    <app-update-form [registryId]="i" (editRegistry)="editRegistry(i, $event.saveButtonId)"
      (deleteRegistry)="deleteRegistry(registry.association_id)" *ngFor="let registry of allRegistries; index as i">
      <label class="inputLabel">
        Nova Associação<input class="mediumInput" type="text" name="associationNameInput"
          [(ngModel)]="registry.association_name">
      </label>
      <label class="inputLabel">
        Sigla<input class="smallInput" type="text" name="associationAcronymInput"
          [(ngModel)]="registry.association_acronym">
      </label>
      <label class="inputLabel">
        União
        <select class="smallInput" name="unionSelect" [(ngModel)]="registry.union_id">
          <option *ngFor="let union of allUnions" [value]=union.union_id>{{union.union_acronym}} -
            {{union.union_name}}</option>
        </select>
      </label>
    </app-update-form>
  </section>
</section>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <img class="closeIcon" src="assets/icons/closeIcon.png" alt="Fechar" (click)="closeError()" />
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{ doneMessage }}</p>
  </div>
  <img class="closeIcon" src="assets/icons/closeIcon.png" alt="Fechar" (click)="closeDone()" />
</div>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>