<div class="notificationsModal">
  <div class="notifications">
    <div><span>Não lidas</span><span>Lidas</span></div>
    <ul class="notificationsList">
      <li
        *ngFor="let notification of allNotifications"
        class="notificationListItem"
      >
        <div class="notification">
          <label class="notificationClick" for="">
            <img
              class="notificationIcon"
              [src]="
                'assets/icons/notif' + notification.notification_type + '.svg'
              "
              alt="Símbolo de usuário" />

            <input
              class="notificationCheck"
              type="checkbox"
              (input)="setRead(notification.user_notification_id)"
          /></label>
          <p class="notificationText">
            {{ notification.notification_text }}
          </p>
        </div>

        <!-- <hr class="notificationsDivision" /> -->
      </li>
    </ul>
  </div>
</div>
