<div class="vacancyModal">
  <section class="vacancyContainer">
    <img
      class="closeIcon"
      src="assets/icons/closeIcon.png"
      alt="Fechar"
      (click)="closeError()"
    />
    <app-update-form
      (editRegistry)="
        showAlert('edit', 'Confirmar a edição este item?', vacancy.vacancyId)
      "
      (deleteRegistry)="
        showAlert(
          'delete',
          'Confirmar a exclusão deste item?',
          vacancy.vacancyId
        )
      "
      [registryId]="vacancy.vacancyId"
    >
      <div class="subSection">
        <span class="field">
          <p class="fieldTitle">Título</p>
          <input
            class="fieldContent"
            [id]="'titleInput'"
            name="titleInput"
            [(ngModel)]="vacancy.title"
          />
        </span>
        <span class="field">
          <p class="fieldTitle">Descrição</p>
          <input
            class="fieldContent"
            [id]="'descriptionInput'"
            name="descriptionInput"
            [(ngModel)]="vacancy.description"
          />
        </span>
      </div>

      <div class="subSection">
        <span class="field">
          <p class="fieldTitle">Ministério</p>
          <select
            name="ministrySelect"
            id="ministrySelect"
            [(ngModel)]="vacancy.ministryId"
          >
            <option
              *ngFor="let ministry of allMinistries"
              [value]="ministry.ministry_type_id"
              [selected]="vacancy.ministryId === ministry.ministry_type_id"
            >
              {{ ministry.ministry_type_name }}
            </option>
          </select>
        </span>
        <span class="field">
          <p class="fieldTitle">Tipo de contratação</p>
          <select
            name="hiringSelect"
            id="hiringSelect"
            [(ngModel)]="vacancy.hiringStatusId"
          >
            <option
              *ngFor="let status of allHiringStatus"
              [value]="status.hiring_status_id"
              [selected]="vacancy.hiringStatusId === status.hiring_status_id"
            >
              {{ status.hiring_status_name }}
            </option>
          </select>
        </span>
      </div>
    </app-update-form>
    <div class="hidden">
      <button #addIcon src="assets/icons/addIcon.png">
        Adicionar estudante à vaga
      </button>
    </div>
    <div class="vacancyStudents">
      <div class="studentsInVacancy">
        <!-- <app-student-cards
          class="studentCards"
          *ngFor="let vacancyStudent of vacancy.vacancyStudents"
          [student]="vacancyStudent.student"
        ></app-student-cards> -->
        <app-small-student-cards
          class="studentCards"
          *ngFor="let vacancyStudent of vacancy.vacancyStudents"
          [student]="vacancyStudent.student"
        ></app-small-student-cards>

        <div style="width: 100px; height: 100px; background-color: red"></div>
      </div>
      <div class="studentsNotInVacancy">
        <app-small-student-cards
          class="studentCards"
          *ngFor="let student of allStudents"
          [student]="student"
        ></app-small-student-cards>
      </div>
    </div>
  </section>
</div>

<div *ngIf="error" class="error">
  <div class="errorTitle">
    <p>Atenção</p>
  </div>
  <div class="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeError()"
  />
</div>
<div *ngIf="done" class="done">
  <div class="doneTitle">
    <p>Parabéns</p>
  </div>
  <div class="doneMessage">
    <p>{{ doneMessage }}</p>
  </div>
  <img
    class="closeIcon"
    src="assets/icons/closeIcon.png"
    alt="Fechar"
    (click)="closeDone()"
  />
</div>
<app-alert-modal
  *ngIf="alert"
  class="alert"
  [alertMessage]="this.alertMessage"
  [func]="this.func"
  (continue)="confirm($event)"
></app-alert-modal>

<div *ngIf="isLoading" class="loader1"></div>
<div *ngIf="isLoading" class="loader2"></div>
