<ul class="titlesRow">
    <li class="titleText" id="subCategoryNameTitle">Nome da subcategoria</li>
    <li class="titleText" id="subCategoryDescriptionTitle">Descrição</li>
    <li class="titleText" id="categoryNameTitle">Categoria</li>

</ul>

<div class="content" >
    <img src="assets/icons/plusIcon.svg" class="actionIcon" alt="" (click)="createItemSubCategoryModal()">
    <div *ngFor="let itemSubCategory of itensSubCategory" class="listItem">
      <p class="listItemText" id="subCategoryName">{{itemSubCategory.subcategory_name}}</p>
      <p class="listItemText" id="subCategoryDescription">{{itemSubCategory.subcategory_description}}</p>
      <p class="listItemText" id="categoryName">{{itemSubCategory.category_name}}</p>
    </div>

    <div *ngIf="creatingItemSubCategory.active" class="modalContainer">
        <div class="fadeGray"></div>
        <div class="modal">
            
    
          <label class="inputLabel" for="subCategoryNameInput">Nome da subcategoria
            <input class="mediumInput" type="text" [(ngModel)]="newItemSubCategory.subCategoryName">
          </label>

          <label class="inputLabel" for="personSelect">Descrição da subcategoria
            <input class="largeInput" type="text" [(ngModel)]="newItemSubCategory.subCategoryDescription">
          </label>
          <label class="inputLabel" for="itemCategoryInput">Categoria
            <input class="largeInput" type="text" [(ngModel)]="newItemSubCategory.categoryId">
          </label>

            <div class="formLine">
              <button class="saveButton" type="submit" (click)="createItemSubCategory()">Salvar</button>
              <button class="cancelButton" type="submit" (click)="destroyItemSubCategoryModal()">Cancelar</button>
            </div>

        </div>
    </div>
  </div>
