#subCategoryNameTitle{
    width: 15vw;
  }
  
#subCategoryDescriptionTitle{
width: 35vw;
}

#categoryNameTitle{
    width: 15vw;
  }

#subCategoryName{
    width: 15vw;
  }
  
#subCategoryDescription{
    width: 35vw;
}

#categoryName{
    width: 15vw;
}